In [1]:
import pandas as pd
import numpy as np

In [2]:
pd.options.display.max_rows = 4

In [3]:
# Add the python path to the folder containing some custom packages.
import sys
sys.path.insert(0, "../packages/")
from TsIP.TsIP import TsIP

# Nigeria

We create the dataset of multivariate time-series for the Nigeria country.

In [4]:
COUNTRY = "Nigeria"

In [5]:
PATH_TO_SAVE = "./output_data/Nigeria/"

## Data sources

For more details regarding each single data source see the folder *Data Sources*.

In [6]:
PATH_TO_DATA_FOLDER = "../Data Sources/"

    - Food Consumption Score (FCG <= 2):

In [7]:
# Load the data of the fcs indicator released by wfp.
fcs = pd.read_csv(PATH_TO_DATA_FOLDER + "Food Consumption Score (FCS)/output_timeseries/%s/wfp_fcs-interpolate.csv" % COUNTRY, header = [0, 1], index_col = 0)
fcs.index.name = "Datetime"
fcs.index = pd.to_datetime(fcs.index)
freq = "D"
fcs.index.freq = freq

In [8]:
fcs

AdminStrata    Adamawa      Borno       Yobe
Indicator     FCG <= 2   FCG <= 2   FCG <= 2
Datetime
2019-01-18   23.586938  37.455808  30.722900
2019-01-19   22.755425  36.451190  30.273423
...                ...        ...        ...
2020-11-22   38.338685  46.938553  55.216252
2020-11-23   34.544117  46.946888  53.960201

[676 rows x 3 columns]

    - Reduced Coping Strategy Index (rCSI >= 19):

In [9]:
# Load the the data of the rcsi indicator released by wfp.
rcsi = pd.read_csv(PATH_TO_DATA_FOLDER + "Reduced Coping Strategy Index (rCSI)/output_timeseries/%s/wfp_rcsi-interpolate.csv" % COUNTRY, header = [0, 1], index_col = 0)
rcsi.index.name = "Datetime"
rcsi.index = pd.to_datetime(rcsi.index)
freq = "D"
rcsi.index.freq = freq

In [10]:
rcsi

AdminStrata    Adamawa      Borno       Yobe
Indicator   rCSI >= 19 rCSI >= 19 rCSI >= 19
Datetime
2019-01-18   43.008741  35.259528  45.458462
2019-01-19   43.619385  34.719999  45.499663
...                ...        ...        ...
2020-11-22   40.307048  47.985029  52.955295
2020-11-23   42.812240  46.771442  51.955363

[676 rows x 3 columns]

    - Rainfalls:

In [11]:
# Load the data of rainfall indicator released by wfp.
rainfall = pd.read_csv(PATH_TO_DATA_FOLDER + "Rainfall & Vegetation/output_timeseries/%s/wfp_rainfall-day.csv" % COUNTRY, header = [0, 1], index_col = 0)
rainfall.index.name = "Datetime"
rainfall.index = pd.to_datetime(rainfall.index)
freq = "D"
rainfall.index.freq = freq

In [12]:
rainfall

AdminStrata                       Adamawa                                 \
Indicator   1 Month Anomaly Rainfalls (%) 3 Months Anomaly Rainfalls (%)
Datetime
2019-01-18                     100.259677                      93.037140
2019-01-19                     100.244839                      93.977969
...                                   ...                            ...
2020-11-19                      56.844563                      79.033628
2020-11-20                      56.081060                      78.970970

AdminStrata                                        Borno  \
Indicator   Rainfalls (mm) 1 Month Anomaly Rainfalls (%)
Datetime
2019-01-18           0.000                    100.000000
2019-01-19           0.000                    100.000000
...                    ...                           ...
2020-11-19          10.832                     77.145832
2020-11-20          10.028                     76.579202

AdminStrata                                                \
Indicator   3 Months Anomaly Rainfalls (%) Rainfalls (mm)
Datetime
2019-01-18                      117.367238         0.0000
2019-01-19                      117.995892         0.0000
...                                    ...            ...
2020-11-19                      112.011920         1.5048
2020-11-20                      111.956953         1.4040

AdminStrata                          Yobe                                 \
Indicator   1 Month Anomaly Rainfalls (%) 3 Months Anomaly Rainfalls (%)
Datetime
2019-01-18                     100.000000                     143.249296
2019-01-19                     100.000000                     143.210813
...                                   ...                            ...
2020-11-19                     104.741302                     117.434555
2020-11-20                     103.364034                     117.182807

AdminStrata
Indicator   Rainfalls (mm)
Datetime
2019-01-18          0.0000
2019-01-19          0.0000
...                    ...
2020-11-19          0.7038
2020-11-20          0.6600

[673 rows x 9 columns]

    - Vegetations:

In [13]:
# Load the data of vegetation indicator released by wfp.
NDVI = pd.read_csv(PATH_TO_DATA_FOLDER + "Rainfall & Vegetation/output_timeseries/%s/wfp_NDVI-day.csv" % COUNTRY, header = [0, 1], index_col = 0)
NDVI.index.name = "Datetime"
NDVI.index = pd.to_datetime(NDVI.index)
freq = "D"
NDVI.index.freq = freq

In [14]:
NDVI

AdminStrata   Adamawa                  Borno                   Yobe  \
Indicator        NDVI NDVI Anomaly      NDVI NDVI Anomaly      NDVI
Datetime
2019-01-18   0.334429    96.868029  0.267711   102.864071  0.232465
2019-01-19   0.332291    96.927069  0.266671   102.866521  0.231498
...               ...          ...       ...          ...       ...
2020-11-19   0.579348    95.922573  0.480758   117.621984  0.386211
2020-11-20   0.576338    96.033895  0.476860   117.853150  0.382715

AdminStrata
Indicator   NDVI Anomaly
Datetime
2019-01-18     99.634913
2019-01-19     99.533540
...                  ...
2020-11-19    112.256577
2020-11-20    112.367509

[673 rows x 6 columns]

    - Conflicts:

In [15]:
# Load the data of conflicts indicator released by ACLED.
conflict = pd.read_csv(PATH_TO_DATA_FOLDER + "Conflicts/output_timeseries/%s/wfp_conflicts_sum_event_SvyWindow.csv" % COUNTRY, header = [0, 1], index_col = 0)
conflict.index.name = "Datetime"
conflict.index = pd.to_datetime(conflict.index)
freq = "D"
conflict.index.freq = freq

In [16]:
conflict

AdminStrata    Adamawa      Borno       Yobe
Indicator   Fatalities Fatalities Fatalities
Datetime
2019-01-18         0.0      243.0       66.0
2019-01-19         0.0      253.0       66.0
...                ...        ...        ...
2020-11-20         2.0      278.0       20.0
2020-11-21         2.0      274.0       20.0

[674 rows x 3 columns]

    - Market prices:

In [17]:
# Load the data of market prices indicator released by wfp.
price = pd.read_csv(PATH_TO_DATA_FOLDER + "Market Prices/output_timeseries/%s/wfp_relevant_market_price-SvyWindow-day.csv" % COUNTRY, header = [0, 1], index_col = 0)
price.index.name = "Datetime"
price.index = pd.to_datetime(price.index)
freq = "D"
price.index.freq = freq

In [18]:
price

AdminStrata,Adamawa,Borno,Yobe
Food Group,Price cereals and tubers,Price cereals and tubers,Price cereals and tubers
Datetime,,,
2019-01-18,0.204482,0.332317,0.128119
2019-01-19,0.204677,0.332095,0.127451
...,...,...,...
2020-10-30,NaN,0.281304,0.164330
2020-10-31,NaN,0.281304,0.164330

    - Population:

In [19]:
# Load the data of population released by wfp.
population = pd.read_csv(PATH_TO_DATA_FOLDER + "Population/output_timeseries/%s/wfp_population.csv" % COUNTRY, header = [0, 1], index_col = 0)
population.index.name = "Datetime"
population.index = pd.to_datetime(population.index)
freq = "D"
population.index.freq = freq

In [20]:
population

AdminStrata    Adamawa      Borno       Yobe
Indicator   Population Population Population
Datetime
2018-01-01     4946724    5884116    4340967
2018-01-02     4946724    5884116    4340967
...                ...        ...        ...
2020-12-31     4946724    5884116    4340967
2021-01-01     4946724    5884116    4340967

[1097 rows x 3 columns]

    - Coordinates:

In [21]:
# Load the data of coordination.
coordinates = pd.read_csv(PATH_TO_DATA_FOLDER + "Coordinates/output_timeseries/%s/wfp_coordinates.csv" % COUNTRY, header = [0, 1], index_col = 0)
coordinates.index.name = "Datetime"
coordinates.index = pd.to_datetime(coordinates.index)
freq = "D"
coordinates.index.freq = freq

In [22]:
coordinates

AdminStrata      Abia            Adamawa            Akwa Ibom            \
Indicator         Lat      Lon       Lat        Lon       Lat       Lon
Datetime
2018-01-01   5.453302  7.52319  9.323227  12.400241  4.906643  7.847366
2018-01-02   5.453302  7.52319  9.323227  12.400241  4.906643  7.847366
...               ...      ...       ...        ...       ...       ...
2020-12-31   5.453302  7.52319  9.323227  12.400241  4.906643  7.847366
2021-01-01   5.453302  7.52319  9.323227  12.400241  4.906643  7.847366

AdminStrata   Anambra               Bauchi            ...    Rivers            \
Indicator         Lat       Lon        Lat       Lon  ...       Lat       Lon
Datetime                                              ...
2018-01-01   6.222776  6.932186  10.796647  9.990588  ...  4.845392  6.918181
2018-01-02   6.222776  6.932186  10.796647  9.990588  ...  4.845392  6.918181
...               ...       ...        ...       ...  ...       ...       ...
2020-12-31   6.222776  6.932186  10.796647  9.990588  ...  4.845392  6.918181
2021-01-01   6.222776  6.932186  10.796647  9.990588  ...  4.845392  6.918181

AdminStrata     Sokoto             Taraba                 Yobe             \
Indicator          Lat      Lon       Lat        Lon       Lat        Lon
Datetime
2018-01-01   13.037993  5.31881  8.023131  10.786479  12.29868  11.437066
2018-01-02   13.037993  5.31881  8.023131  10.786479  12.29868  11.437066
...                ...      ...       ...        ...       ...        ...
2020-12-31   13.037993  5.31881  8.023131  10.786479  12.29868  11.437066
2021-01-01   13.037993  5.31881  8.023131  10.786479  12.29868  11.437066

AdminStrata    Zamfara
Indicator          Lat       Lon
Datetime
2018-01-01   12.101505  6.246535
2018-01-02   12.101505  6.246535
...                ...       ...
2020-12-31   12.101505  6.246535
2021-01-01   12.101505  6.246535

[1097 rows x 74 columns]

    - Ramadan:

In [23]:
# Load the data of Ramadan.
ramadan = pd.read_csv(PATH_TO_DATA_FOLDER + "Ramadan/output_timeseries/%s/wfp_ramadan_SvyWindow.csv" % COUNTRY, header = [0, 1], index_col = 0)
ramadan.index.name = "Datetime"
ramadan.index = pd.to_datetime(ramadan.index)
freq = "D"
ramadan.index.freq = freq

In [24]:
ramadan

AdminStrata Adamawa   Borno    Yobe
Indicator   Ramadan Ramadan Ramadan
Datetime
2019-01-18      0.0     0.0     0.0
2019-01-19      0.0     0.0     0.0
...             ...     ...     ...
2020-11-22      0.0     0.0     0.0
2020-11-23      0.0     0.0     0.0

[676 rows x 3 columns]

    - Adminstrata Codes:

In [25]:
# Load the data of administrative codes.
admin_code = pd.read_csv(PATH_TO_DATA_FOLDER + "Adminstrata Code/output_timeseries/%s/wfp_adminstrata_code.csv" % COUNTRY, header = [0, 1], index_col = 0)
admin_code.index.name = "Datetime"
admin_code.index = pd.to_datetime(admin_code.index)
freq = "D"
admin_code.index.freq = freq

In [26]:
admin_code

AdminStrata,Abia,Adamawa,Akwa Ibom,Anambra,Bauchi,Bayelsa,Benue,Borno,Cross River,Delta,...,Ogun,Ondo,Osun,Oyo,Plateau,Rivers,Sokoto,Taraba,Yobe,Zamfara
Indicator,Code,Code,Code,Code,Code,Code,Code,Code,Code,Code,...,Code,Code,Code,Code,Code,Code,Code,Code,Code,Code
Datetime,,,,,,,,,,,,,,,,,,,,,
2018-01-01,13,14,15,16,17,18,19,20,21,22,...,40,41,42,43,44,45,46,47,48,49
2018-01-02,13,14,15,16,17,18,19,20,21,22,...,40,41,42,43,44,45,46,47,48,49
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2020-12-31,13,14,15,16,17,18,19,20,21,22,...,40,41,42,43,44,45,46,47,48,49
2021-01-01,13,14,15,16,17,18,19,20,21,22,...,40,41,42,43,44,45,46,47,48,49

In [27]:
# Create the full dataset.
df = pd.concat([fcs, rcsi, rainfall, conflict, NDVI, price, population, coordinates, ramadan, admin_code], axis = 1, levels = 0).sort_index(axis = 1, level = [0, 1]).dropna()

In [28]:
# Let's consider only these administrative regions.
df = df[["Adamawa", "Borno", "Yobe"]]

In [29]:
PROVINCES = df.columns.get_level_values(0).unique()
PROVINCES

Index(['Adamawa', 'Borno', 'Yobe'], dtype='object', name='AdminStrata')

In [30]:
PREDICTORS = df.columns.get_level_values(1).unique()
PREDICTORS

Index(['1 Month Anomaly Rainfalls (%)', '3 Months Anomaly Rainfalls (%)',
       'Code', 'FCG <= 2', 'Fatalities', 'Lat', 'Lon', 'NDVI', 'NDVI Anomaly',
       'Population', 'Price cereals and tubers', 'Rainfalls (mm)', 'Ramadan',
       'rCSI >= 19'],
      dtype='object', name='Indicator')

In [31]:
for PROVINCE in PROVINCES:
    print(PROVINCE)
    print(df[PROVINCE].columns)

Adamawa
Index(['1 Month Anomaly Rainfalls (%)', '3 Months Anomaly Rainfalls (%)',
       'Code', 'FCG <= 2', 'Fatalities', 'Lat', 'Lon', 'NDVI', 'NDVI Anomaly',
       'Population', 'Price cereals and tubers', 'Rainfalls (mm)', 'Ramadan',
       'rCSI >= 19'],
      dtype='object', name='Indicator')
Borno
Index(['1 Month Anomaly Rainfalls (%)', '3 Months Anomaly Rainfalls (%)',
       'Code', 'FCG <= 2', 'Fatalities', 'Lat', 'Lon', 'NDVI', 'NDVI Anomaly',
       'Population', 'Price cereals and tubers', 'Rainfalls (mm)', 'Ramadan',
       'rCSI >= 19'],
      dtype='object', name='Indicator')
Yobe
Index(['1 Month Anomaly Rainfalls (%)', '3 Months Anomaly Rainfalls (%)',
       'Code', 'FCG <= 2', 'Fatalities', 'Lat', 'Lon', 'NDVI', 'NDVI Anomaly',
       'Population', 'Price cereals and tubers', 'Rainfalls (mm)', 'Ramadan',
       'rCSI >= 19'],
      dtype='object', name='Indicator')

In [32]:
# Plot time-series.
TsIP(df).interactive_plot_df(title = "Time-series", matplotlib = False, style = "lines", comparison = False, first_last_valid_index_group = True)

interactive(children=(ToggleButtons(description='AdminStrata', options=('Adamawa', 'Borno', 'Yobe'), value='Ad…

In [33]:
# Save the datasets.
df.to_csv(PATH_TO_SAVE + "Nigeria-day.csv", index_label = False)