In [1]:
import pandas as pd
import numpy as np

In [2]:
pd.options.display.max_rows = 4

In [3]:
# Add the python path to the folder containing some custom packages.
import sys
sys.path.insert(0, "../packages/")
from TsIP.TsIP import TsIP

# Syria

I create the dataset of multivariate time-series for the Syria country.

In [4]:
COUNTRY = "Syria"

In [5]:
PATH_TO_SAVE = "./output_data/Syria/"

## Data sources

For more details regarding each single data source see the folder *Data Sources*.

In [6]:
PATH_TO_DATA_FOLDER = "../Data Sources/"

    - Food Consumption Score (FCG <= 2):

In [7]:
# Load the data of the fcs indicator released by wfp.
fcs = pd.read_csv(PATH_TO_DATA_FOLDER + "Food Consumption Score (FCS)/output_timeseries/%s/wfp_fcs-interpolate.csv" % COUNTRY, header = [0, 1], index_col = 0)
fcs.index.name = "Datetime"
fcs.index = pd.to_datetime(fcs.index)
freq = "D"
fcs.index.freq = freq

In [8]:
fcs

AdminStrata,Al-Hasakeh,Aleppo,Ar-Raqqa,As-Sweida,Damascus,Dar'a,Deir-ez-Zor,Hama,Homs,Lattakia,Rural Damascus,Tartous
Indicator,FCG <= 2,FCG <= 2,FCG <= 2,FCG <= 2,FCG <= 2,FCG <= 2,FCG <= 2,FCG <= 2,FCG <= 2,FCG <= 2,FCG <= 2,FCG <= 2
Datetime,,,,,,,,,,,,
2018-08-31,35.85483,26.293100,NaN,10.31519,13.68855,36.155200,NaN,18.111502,19.622450,19.30116,24.935821,20.38462
2018-09-01,35.85483,26.960300,NaN,8.90208,13.81051,36.155200,NaN,17.727133,19.133940,19.30116,24.850930,20.78431
...,...,...,...,...,...,...,...,...,...,...,...,...
2020-09-03,48.09989,54.426185,50.804627,31.78649,38.46569,37.159308,54.10318,54.056975,56.634307,54.15749,57.592443,45.82597
2020-09-04,47.02155,56.969995,50.736724,31.22003,39.54686,37.556022,55.05072,53.480056,56.411044,54.81184,57.723067,44.51177

    - Reduced Coping Strategy Index (rCSI >= 19):

In [9]:
# Load the the data of the rcsi indicator released by wfp.
rcsi = pd.read_csv(PATH_TO_DATA_FOLDER + "Reduced Coping Strategy Index (rCSI)/output_timeseries/%s/wfp_rcsi-interpolate.csv" % COUNTRY, header = [0, 1], index_col = 0)
rcsi.index.name = "Datetime"
rcsi.index = pd.to_datetime(rcsi.index)
freq = "D"
rcsi.index.freq = freq

In [10]:
rcsi

AdminStrata,Al-Hasakeh,Aleppo,Ar-Raqqa,As-Sweida,Damascus,Dar'a,Deir-ez-Zor,Hama,Homs,Lattakia,Rural Damascus,Tartous
Indicator,rCSI >= 19,rCSI >= 19,rCSI >= 19,rCSI >= 19,rCSI >= 19,rCSI >= 19,rCSI >= 19,rCSI >= 19,rCSI >= 19,rCSI >= 19,rCSI >= 19,rCSI >= 19
Datetime,,,,,,,,,,,,
2018-08-31,36.77307,21.619070,NaN,27.22063,25.02208,47.619050,NaN,25.768519,25.832090,30.51581,27.653400,25.96154
2018-09-01,36.77307,22.513680,NaN,26.40950,25.24503,47.619050,NaN,26.044842,26.183280,30.51581,27.700016,26.47059
...,...,...,...,...,...,...,...,...,...,...,...,...
2020-09-03,50.27144,37.747351,46.669682,41.09161,36.54781,44.722614,49.249992,34.969581,39.216674,45.53965,41.412719,43.88251
2020-09-04,52.59823,36.886683,45.068797,37.53330,36.35427,43.335860,47.275822,36.555592,41.236490,45.46576,42.630379,42.46096

    - Rainfalls:

In [11]:
# Load the data of rainfall indicator released by wfp.
rainfall = pd.read_csv(PATH_TO_DATA_FOLDER + "Rainfall & Vegetation/output_timeseries/%s/wfp_rainfall-dekad.csv" % COUNTRY, header = [0, 1], index_col = 0)
rainfall.index.name = "Datetime"
rainfall.index = pd.to_datetime(rainfall.index)
freq = "D"
rainfall.index.freq = freq

In [12]:
rainfall

AdminStrata                    Al-Hasakeh                                 \
Indicator   1 Month Anomaly Rainfalls (%) 3 Months Anomaly Rainfalls (%)
Datetime
2018-01-10                      76.915727                      76.710227
2018-01-11                            NaN                            NaN
...                                   ...                            ...
2020-11-19                            NaN                            NaN
2020-11-20                      86.776601                      77.958676

AdminStrata                                       Aleppo  \
Indicator   Rainfalls (mm) 1 Month Anomaly Rainfalls (%)
Datetime
2018-01-10          10.072                     81.080787
2018-01-11             NaN                           NaN
...                    ...                           ...
2020-11-19             NaN                           NaN
2020-11-20           4.243                     93.127758

AdminStrata                                                \
Indicator   3 Months Anomaly Rainfalls (%) Rainfalls (mm)
Datetime
2018-01-10                       73.598237         11.771
2018-01-11                             NaN            NaN
...                                    ...            ...
2020-11-19                             NaN            NaN
2020-11-20                       84.617485          4.365

AdminStrata                      Ar-Raqqa                                 \
Indicator   1 Month Anomaly Rainfalls (%) 3 Months Anomaly Rainfalls (%)
Datetime
2018-01-10                      96.282625                      82.930526
2018-01-11                            NaN                            NaN
...                                   ...                            ...
2020-11-19                            NaN                            NaN
2020-11-20                      94.625401                      88.105455

AdminStrata                                    As-Sweida  ...       Lattakia  \
Indicator   Rainfalls (mm) 1 Month Anomaly Rainfalls (%)  ... Rainfalls (mm)
Datetime                                                  ...
2018-01-10           7.370                    166.633303  ...        119.990
2018-01-11             NaN                           NaN  ...            NaN
...                    ...                           ...  ...            ...
2020-11-19             NaN                           NaN  ...            NaN
2020-11-20           3.132                    117.628643  ...         16.222

AdminStrata                      Quneitra                                 \
Indicator   1 Month Anomaly Rainfalls (%) 3 Months Anomaly Rainfalls (%)
Datetime
2018-01-10                     203.065817                     133.483571
2018-01-11                            NaN                            NaN
...                                   ...                            ...
2020-11-19                            NaN                            NaN
2020-11-20                     135.323586                     126.949123

AdminStrata                               Rural Damascus  \
Indicator   Rainfalls (mm) 1 Month Anomaly Rainfalls (%)
Datetime
2018-01-10         129.954                    156.378846
2018-01-11             NaN                           NaN
...                    ...                           ...
2020-11-19             NaN                           NaN
2020-11-20          13.754                    133.850984

AdminStrata                                                \
Indicator   3 Months Anomaly Rainfalls (%) Rainfalls (mm)
Datetime
2018-01-10                      109.086576         13.462
2018-01-11                             NaN            NaN
...                                    ...            ...
2020-11-19                             NaN            NaN
2020-11-20                      128.008565          6.095

AdminStrata                       Tartous                                 \
Indicator   1 Month Anomaly Rainfalls (%) 3 Months Anomaly Rainfalls (%)
Datetime
2018-01-10                     124.748687                     100.713733
2018-01-11                            NaN                            NaN
...                                   ...                            ...
2020-11-19                            NaN                            NaN
2020-11-20                     101.700588                      85.605328

AdminStrata
Indicator   Rainfalls (mm)
Datetime
2018-01-10          98.178
2018-01-11             NaN
...                    ...
2020-11-19             NaN
2020-11-20          28.781

[1046 rows x 39 columns]

    - Vegetations:

In [13]:
# Load the data of vegetation indicator released by wfp.
NDVI = pd.read_csv(PATH_TO_DATA_FOLDER + "Rainfall & Vegetation/output_timeseries/%s/wfp_NDVI-dekad.csv" % COUNTRY, header = [0, 1], index_col = 0)
NDVI.index.name = "Datetime"
NDVI.index = pd.to_datetime(NDVI.index)
freq = "D"
NDVI.index.freq = freq

In [14]:
NDVI

AdminStrata Al-Hasakeh                 Aleppo               Ar-Raqqa  \
Indicator         NDVI NDVI Anomaly      NDVI NDVI Anomaly      NDVI
Datetime
2018-01-10    0.161436    96.524109  0.200953    88.835346  0.141864
2018-01-11         NaN          NaN       NaN          NaN       NaN
...                ...          ...       ...          ...       ...
2020-11-19         NaN          NaN       NaN          NaN       NaN
2020-11-20    0.149037   107.674709  0.189699   110.241922  0.149848

AdminStrata              As-Sweida              Damascus               ...  \
Indicator   NDVI Anomaly      NDVI NDVI Anomaly     NDVI NDVI Anomaly  ...
Datetime                                                               ...
2018-01-10     94.980248  0.150653    99.791443  0.16649    92.186169  ...
2018-01-11           NaN       NaN          NaN      NaN          NaN  ...
...                  ...       ...          ...      ...          ...  ...
2020-11-19           NaN       NaN          NaN      NaN          NaN  ...
2020-11-20    114.652957  0.151237   110.912163  0.20124   111.246900  ...

AdminStrata      Homs               Lattakia               Quneitra  \
Indicator        NDVI NDVI Anomaly      NDVI NDVI Anomaly      NDVI
Datetime
2018-01-10   0.137463    97.679429  0.518761    98.803454  0.359991
2018-01-11        NaN          NaN       NaN          NaN       NaN
...               ...          ...       ...          ...       ...
2020-11-19        NaN          NaN       NaN          NaN       NaN
2020-11-20   0.139406   109.643732  0.492206    96.824437  0.299614

AdminStrata              Rural Damascus                Tartous
Indicator   NDVI Anomaly           NDVI NDVI Anomaly      NDVI NDVI Anomaly
Datetime
2018-01-10     82.499234       0.127851    99.601094  0.492140   100.161455
2018-01-11           NaN            NaN          NaN       NaN          NaN
...                  ...            ...          ...       ...          ...
2020-11-19           NaN            NaN          NaN       NaN          NaN
2020-11-20    106.025633       0.132576   107.795103  0.459399   101.722254

[1046 rows x 26 columns]

    - Conflicts:

In [15]:
# Load the data of conflicts indicator released by ACLED.
conflict = pd.read_csv(PATH_TO_DATA_FOLDER + "Conflicts/output_timeseries/%s/wfp_conflicts_sum_event_SvyWindow.csv" % COUNTRY, header = [0, 1], index_col = 0)
conflict.index.name = "Datetime"
conflict.index = pd.to_datetime(conflict.index)
freq = "D"
conflict.index.freq = freq

In [16]:
conflict

AdminStrata,Al-Hasakeh,Aleppo,Ar-Raqqa,As-Sweida,Damascus,Dar'a,Deir-ez-Zor,Hama,Homs,Lattakia,Rural Damascus,Tartous
Indicator,Fatalities,Fatalities,Fatalities,Fatalities,Fatalities,Fatalities,Fatalities,Fatalities,Fatalities,Fatalities,Fatalities,Fatalities
Datetime,,,,,,,,,,,,
2018-08-31,93.0,173.0,NaN,79.0,1.0,37.0,NaN,55.0,22.0,44.0,407.0,0.0
2018-09-01,93.0,174.0,NaN,62.0,2.0,37.0,NaN,54.0,24.0,44.0,385.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...
2020-09-03,70.0,49.0,34.0,2.0,2.0,34.0,108.0,14.0,14.0,13.0,21.0,0.0
2020-09-04,66.0,59.0,34.0,2.0,2.0,33.0,103.0,14.0,14.0,13.0,21.0,0.0

    - Market prices:

In [17]:
# Load the data of market prices indicator released by wfp.
price = pd.read_csv(PATH_TO_DATA_FOLDER + "Market Prices/output_timeseries/%s/wfp_relevant_market_price-interpolate-common-food_group-month.csv" % COUNTRY, header = [0, 1], index_col = 0)
price.index.name = "Datetime"
price.index = pd.to_datetime(price.index)
freq = "D"
price.index.freq = freq

In [18]:
price

AdminStrata    Al-Hasakeh                                 Aleppo  \
Food Group  Exchange rate Price cereals and tubers Exchange rate
Datetime
2018-06-30       0.009470                 0.058509      0.011245
2018-07-01            NaN                      NaN           NaN
...                   ...                      ...           ...
2020-09-29            NaN                      NaN           NaN
2020-09-30       0.844034                 0.558671      0.835430

AdminStrata                               Ar-Raqqa                           \
Food Group  Price cereals and tubers Exchange rate Price cereals and tubers
Datetime
2018-06-30                  0.220629           NaN                      NaN
2018-07-01                       NaN           NaN                      NaN
...                              ...           ...                      ...
2020-09-29                       NaN           NaN                      NaN
2020-09-30                  0.402878      0.842045                 0.617153

AdminStrata     As-Sweida                               Damascus  \
Food Group  Exchange rate Price cereals and tubers Exchange rate
Datetime
2018-06-30       0.008523                 0.040068      0.011364
2018-07-01            NaN                      NaN           NaN
...                   ...                      ...           ...
2020-09-29            NaN                      NaN           NaN
2020-09-30       0.840909                 0.441932      0.863163

AdminStrata                           ...          Hama  \
Food Group  Price cereals and tubers  ... Exchange rate
Datetime                              ...
2018-06-30                  0.057122  ...      0.007576
2018-07-01                       NaN  ...           NaN
...                              ...  ...           ...
2020-09-29                       NaN  ...           NaN
2020-09-30                  0.478193  ...      0.843277

AdminStrata                                   Homs                           \
Food Group  Price cereals and tubers Exchange rate Price cereals and tubers
Datetime
2018-06-30                  0.045418      0.007576                 0.029581
2018-07-01                       NaN           NaN                      NaN
...                              ...           ...                      ...
2020-09-29                       NaN           NaN                      NaN
2020-09-30                  0.517856      0.843277                 0.513121

AdminStrata      Lattakia                          Rural Damascus  \
Food Group  Exchange rate Price cereals and tubers  Exchange rate
Datetime
2018-06-30       0.010417                 0.047559       0.010890
2018-07-01            NaN                      NaN            NaN
...                   ...                      ...            ...
2020-09-29            NaN                      NaN            NaN
2020-09-30       0.857481                 0.479275       0.871212

AdminStrata                                Tartous
Food Group  Price cereals and tubers Exchange rate Price cereals and tubers
Datetime
2018-06-30                  0.049195      0.011364                 0.047344
2018-07-01                       NaN           NaN                      NaN
...                              ...           ...                      ...
2020-09-29                       NaN           NaN                      NaN
2020-09-30                  0.453207      0.857481                 0.606501

[824 rows x 22 columns]

    - Population:

In [19]:
# Load the data of population released by wfp.
population = pd.read_csv(PATH_TO_DATA_FOLDER + "Population/output_timeseries/%s/wfp_population.csv" % COUNTRY, header = [0, 1], index_col = 0)
population.index.name = "Datetime"
population.index = pd.to_datetime(population.index)
freq = "D"
population.index.freq = freq

In [20]:
population

AdminStrata,Tartous,Rural Damascus,Quneitra,Lattakia,Idleb,Homs,Deir-ez-Zor,Dar'a,Damascus,As-Sweida,Ar-Raqqa,Al-Hasakeh,Aleppo,Hama
Indicator,Population,Population,Population,Population,Population,Population,Population,Population,Population,Population,Population,Population,Population,Population
Datetime,,,,,,,,,,,,,,
2018-01-01,831296,3248273,106182,1189195,2432697,1484772,704983,1005994,1852561,371994,686353,1033316,3879934,1572451
2018-01-02,831296,3248273,106182,1189195,2432697,1484772,704983,1005994,1852561,371994,686353,1033316,3879934,1572451
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2020-12-31,831296,3248273,106182,1189195,2432697,1484772,704983,1005994,1852561,371994,686353,1033316,3879934,1572451
2021-01-01,831296,3248273,106182,1189195,2432697,1484772,704983,1005994,1852561,371994,686353,1033316,3879934,1572451

    - Coordinates:

In [21]:
# Load the data of coordination.
coordinates = pd.read_csv(PATH_TO_DATA_FOLDER + "Coordinates/output_timeseries/%s/wfp_coordinates.csv" % COUNTRY, header = [0, 1], index_col = 0)
coordinates.index.name = "Datetime"
coordinates.index = pd.to_datetime(coordinates.index)
freq = "D"
coordinates.index.freq = freq

In [22]:
coordinates

AdminStrata Al-Hasakeh                Aleppo            Ar-Raqqa             \
Indicator          Lat        Lon        Lat       Lon       Lat        Lon
Datetime
2018-01-01   36.491475  40.907354  36.218085  37.64271  36.01153  38.994679
2018-01-02   36.491475  40.907354  36.218085  37.64271  36.01153  38.994679
...                ...        ...        ...       ...       ...        ...
2020-12-31   36.491475  40.907354  36.218085  37.64271  36.01153  38.994679
2021-01-01   36.491475  40.907354  36.218085  37.64271  36.01153  38.994679

AdminStrata As-Sweida              Damascus            ...      Idleb  \
Indicator         Lat        Lon        Lat       Lon  ...        Lat
Datetime                                               ...
2018-01-01   32.74857  36.846754  33.515687  36.27808  ...  35.785113
2018-01-02   32.74857  36.846754  33.515687  36.27808  ...  35.785113
...               ...        ...        ...       ...  ...        ...
2020-12-31   32.74857  36.846754  33.515687  36.27808  ...  35.785113
2021-01-01   32.74857  36.846754  33.515687  36.27808  ...  35.785113

AdminStrata              Lattakia             Quneitra             \
Indicator          Lon        Lat        Lon       Lat        Lon
Datetime
2018-01-01   36.682283  35.575297  36.026513  33.04424  35.792863
2018-01-02   36.682283  35.575297  36.026513  33.04424  35.792863
...                ...        ...        ...       ...        ...
2020-12-31   36.682283  35.575297  36.026513  33.04424  35.792863
2021-01-01   36.682283  35.575297  36.026513  33.04424  35.792863

AdminStrata Rural Damascus               Tartous
Indicator              Lat        Lon        Lat        Lon
Datetime
2018-01-01       33.492022  37.391556  34.959426  36.077933
2018-01-02       33.492022  37.391556  34.959426  36.077933
...                    ...        ...        ...        ...
2020-12-31       33.492022  37.391556  34.959426  36.077933
2021-01-01       33.492022  37.391556  34.959426  36.077933

[1097 rows x 28 columns]

    - Ramadan:

In [23]:
# Load the data of ramadan.
ramadan = pd.read_csv(PATH_TO_DATA_FOLDER + "Ramadan/output_timeseries/%s/wfp_ramadan_SvyWindow.csv" % COUNTRY, header = [0, 1], index_col = 0)
ramadan.index.name = "Datetime"
ramadan.index = pd.to_datetime(ramadan.index)
freq = "D"
ramadan.index.freq = freq

In [24]:
ramadan

AdminStrata,Al-Hasakeh,Aleppo,Ar-Raqqa,As-Sweida,Damascus,Dar'a,Deir-ez-Zor,Hama,Homs,Lattakia,Rural Damascus,Tartous
Indicator,Ramadan,Ramadan,Ramadan,Ramadan,Ramadan,Ramadan,Ramadan,Ramadan,Ramadan,Ramadan,Ramadan,Ramadan
Datetime,,,,,,,,,,,,
2018-08-31,0.0,0.0,NaN,0.0,0.0,0.0,NaN,0.0,0.0,0.0,0.0,0.0
2018-09-01,0.0,0.0,NaN,0.0,0.0,0.0,NaN,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...
2020-09-03,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2020-09-04,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

    - Adminstrata Codes:

In [25]:
# Load the data of administrative codes.
admin_code = pd.read_csv(PATH_TO_DATA_FOLDER + "Adminstrata Code/output_timeseries/%s/wfp_adminstrata_code.csv" % COUNTRY, header = [0, 1], index_col = 0)
admin_code.index.name = "Datetime"
admin_code.index = pd.to_datetime(admin_code.index)
freq = "D"
admin_code.index.freq = freq

In [26]:
admin_code

AdminStrata,Damascus,Aleppo,Rural Damascus,Homs,Hama,Lattakia,Idleb,Al-Hasakeh,Deir-ez-Zor,Tartous,Ar-Raqqa,Dar'a,As-Sweida,Quneitra
Indicator,Code,Code,Code,Code,Code,Code,Code,Code,Code,Code,Code,Code,Code,Code
Datetime,,,,,,,,,,,,,,
2018-01-01,50,51,52,53,54,55,56,57,58,59,60,61,62,63
2018-01-02,50,51,52,53,54,55,56,57,58,59,60,61,62,63
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2020-12-31,50,51,52,53,54,55,56,57,58,59,60,61,62,63
2021-01-01,50,51,52,53,54,55,56,57,58,59,60,61,62,63

In [27]:
# Create the full dataset.
df = pd.concat([fcs, rcsi, rainfall, conflict, NDVI, price, population, coordinates, ramadan, admin_code], axis = 1, levels = 0).sort_index(axis = 1, level = [0, 1])

In [28]:
PROVINCES = df.columns.get_level_values(0).unique()
PROVINCES

Index(['Al-Hasakeh', 'Aleppo', 'Ar-Raqqa', 'As-Sweida', 'Damascus', 'Dar'a',
       'Deir-ez-Zor', 'Hama', 'Homs', 'Idleb', 'Lattakia', 'Quneitra',
       'Rural Damascus', 'Tartous'],
      dtype='object', name='AdminStrata')

In [29]:
PREDICTORS = df.columns.get_level_values(1).unique()
PREDICTORS

Index(['1 Month Anomaly Rainfalls (%)', '3 Months Anomaly Rainfalls (%)',
       'Code', 'Exchange rate', 'FCG <= 2', 'Fatalities', 'Lat', 'Lon', 'NDVI',
       'NDVI Anomaly', 'Population', 'Price cereals and tubers',
       'Rainfalls (mm)', 'Ramadan', 'rCSI >= 19'],
      dtype='object', name='Indicator')

In [30]:
for PROVINCE in PROVINCES:
    print(PROVINCE)
    print(df[PROVINCE].columns)

Al-Hasakeh
Index(['1 Month Anomaly Rainfalls (%)', '3 Months Anomaly Rainfalls (%)',
       'Code', 'Exchange rate', 'FCG <= 2', 'Fatalities', 'Lat', 'Lon', 'NDVI',
       'NDVI Anomaly', 'Population', 'Price cereals and tubers',
       'Rainfalls (mm)', 'Ramadan', 'rCSI >= 19'],
      dtype='object', name='Indicator')
Aleppo
Index(['1 Month Anomaly Rainfalls (%)', '3 Months Anomaly Rainfalls (%)',
       'Code', 'Exchange rate', 'FCG <= 2', 'Fatalities', 'Lat', 'Lon', 'NDVI',
       'NDVI Anomaly', 'Population', 'Price cereals and tubers',
       'Rainfalls (mm)', 'Ramadan', 'rCSI >= 19'],
      dtype='object', name='Indicator')
Ar-Raqqa
Index(['1 Month Anomaly Rainfalls (%)', '3 Months Anomaly Rainfalls (%)',
       'Code', 'Exchange rate', 'FCG <= 2', 'Fatalities', 'Lat', 'Lon', 'NDVI',
       'NDVI Anomaly', 'Population', 'Price cereals and tubers',
       'Rainfalls (mm)', 'Ramadan', 'rCSI >= 19'],
      dtype='object', name='Indicator')
As-Sweida
Index(['1 Month Anomaly Rainfalls (%)', '3 Months Anomaly Rainfalls (%)',
       'Code', 'Exchange rate', 'FCG <= 2', 'Fatalities', 'Lat', 'Lon', 'NDVI',
       'NDVI Anomaly', 'Population', 'Price cereals and tubers',
       'Rainfalls (mm)', 'Ramadan', 'rCSI >= 19'],
      dtype='object', name='Indicator')
Damascus
Index(['1 Month Anomaly Rainfalls (%)', '3 Months Anomaly Rainfalls (%)',
       'Code', 'Exchange rate', 'FCG <= 2', 'Fatalities', 'Lat', 'Lon', 'NDVI',
       'NDVI Anomaly', 'Population', 'Price cereals and tubers',
       'Rainfalls (mm)', 'Ramadan', 'rCSI >= 19'],
      dtype='object', name='Indicator')
Dar'a
Index(['1 Month Anomaly Rainfalls (%)', '3 Months Anomaly Rainfalls (%)',
       'Code', 'Exchange rate', 'FCG <= 2', 'Fatalities', 'Lat', 'Lon', 'NDVI',
       'NDVI Anomaly', 'Population', 'Price cereals and tubers',
       'Rainfalls (mm)', 'Ramadan', 'rCSI >= 19'],
      dtype='object', name='Indicator')
Deir-ez-Zor
Index(['1 Month Anomaly Rainfalls (%)', '3 Months Anomaly Rainfalls (%)',
       'Code', 'FCG <= 2', 'Fatalities', 'Lat', 'Lon', 'NDVI', 'NDVI Anomaly',
       'Population', 'Rainfalls (mm)', 'Ramadan', 'rCSI >= 19'],
      dtype='object', name='Indicator')
Hama
Index(['1 Month Anomaly Rainfalls (%)', '3 Months Anomaly Rainfalls (%)',
       'Code', 'Exchange rate', 'FCG <= 2', 'Fatalities', 'Lat', 'Lon', 'NDVI',
       'NDVI Anomaly', 'Population', 'Price cereals and tubers',
       'Rainfalls (mm)', 'Ramadan', 'rCSI >= 19'],
      dtype='object', name='Indicator')
Homs
Index(['1 Month Anomaly Rainfalls (%)', '3 Months Anomaly Rainfalls (%)',
       'Code', 'Exchange rate', 'FCG <= 2', 'Fatalities', 'Lat', 'Lon', 'NDVI',
       'NDVI Anomaly', 'Population', 'Price cereals and tubers',
       'Rainfalls (mm)', 'Ramadan', 'rCSI >= 19'],
      dtype='object', name='Indicator')
Idleb
Index(['Code', 'Lat', 'Lon', 'Population'], dtype='object', name='Indicator')
Lattakia
Index(['1 Month Anomaly Rainfalls (%)', '3 Months Anomaly Rainfalls (%)',
       'Code', 'Exchange rate', 'FCG <= 2', 'Fatalities', 'Lat', 'Lon', 'NDVI',
       'NDVI Anomaly', 'Population', 'Price cereals and tubers',
       'Rainfalls (mm)', 'Ramadan', 'rCSI >= 19'],
      dtype='object', name='Indicator')
Quneitra
Index(['1 Month Anomaly Rainfalls (%)', '3 Months Anomaly Rainfalls (%)',
       'Code', 'Lat', 'Lon', 'NDVI', 'NDVI Anomaly', 'Population',
       'Rainfalls (mm)'],
      dtype='object', name='Indicator')
Rural Damascus
Index(['1 Month Anomaly Rainfalls (%)', '3 Months Anomaly Rainfalls (%)',
       'Code', 'Exchange rate', 'FCG <= 2', 'Fatalities', 'Lat', 'Lon', 'NDVI',
       'NDVI Anomaly', 'Population', 'Price cereals and tubers',
       'Rainfalls (mm)', 'Ramadan', 'rCSI >= 19'],
      dtype='object', name='Indicator')
Tartous
Index(['1 Month Anomaly Rainfalls (%)', '3 Months Anomaly Rainfalls (%)',
       'Code', 'Exchange rate', 'FCG <= 2', 'Fatalities', 'Lat', 'Lon', 'NDVI',
       'NDVI Anomaly', 'Population', 'Price cereals and tubers',
       'Rainfalls (mm)', 'Ramadan', 'rCSI >= 19'],
      dtype='object', name='Indicator')

In [31]:
# We decide to not consider these provinces.
df.drop(["Quneitra", "Idleb", "Deir-ez-Zor"], axis = 1, level = 0, inplace = True)

In [32]:
# Plot time-series
TsIP(df).interactive_plot_df(title = "Time-series", matplotlib = False, style = "mix", comparison = False, first_last_valid_index_group = True)

interactive(children=(ToggleButtons(description='AdminStrata', options=('Al-Hasakeh', 'Aleppo', 'Ar-Raqqa', 'Aâ€¦

In [33]:
# Save the datasets.
df.to_csv(PATH_TO_SAVE + "Syria.csv", index_label = False)