In [1]:
import pandas as pd
import numpy as np

In [2]:
pd.options.display.max_rows = 4

In [3]:
# Add the python path to the folder containing some custom packages.
import sys
sys.path.insert(0, "../packages/")
from TsIP.TsIP import TsIP

# Yemen

We create the dataset of multivariate time-series for the Yemen country.

In [4]:
COUNTRY = "Yemen"

In [5]:
PATH_TO_SAVE = "./output_data/Yemen/"

## Data sources

For more details regarding each single data source see the folder *Data Sources*.

In [6]:
PATH_TO_DATA_FOLDER = "../Data Sources/"

    - Food Consumption Score (FCG <= 2):

In [7]:
# Load the data of the fcs indicator released by wfp.
fcs = pd.read_csv(PATH_TO_DATA_FOLDER + "Food Consumption Score (FCS)/output_timeseries/%s/wfp_fcs-interpolate.csv" % COUNTRY, header = [0, 1], index_col = 0)
fcs.index.name = "Datetime"
fcs.index = pd.to_datetime(fcs.index)
freq = "D"
fcs.index.freq = freq

In [8]:
fcs

AdminStrata,Abyan,Aden,Al Bayda,Al Dhale'e,Al Hudaydah,Al Jawf,Al Maharah,Al Mahwit,Amanat Al Asimah,Amran,...,Hajjah,Ibb,Lahj,Marib,Raymah,Sa'ada,Sana'a,Shabwah,Socotra,Taizz
Indicator,FCG <= 2,FCG <= 2,FCG <= 2,FCG <= 2,FCG <= 2,FCG <= 2,FCG <= 2,FCG <= 2,FCG <= 2,FCG <= 2,...,FCG <= 2,FCG <= 2,FCG <= 2,FCG <= 2,FCG <= 2,FCG <= 2,FCG <= 2,FCG <= 2,FCG <= 2,FCG <= 2
Datetime,,,,,,,,,,,,,,,,,,,,,
2018-07-02,31.158690,16.619519,38.332669,29.194825,20.788151,22.085706,2.892308,16.815145,17.000398,20.446735,...,28.361345,25.036668,31.762436,32.596233,54.121774,17.676022,26.917713,16.752289,23.822825,26.563365
2018-07-03,32.675222,16.370603,43.292084,31.336940,20.692544,23.477196,2.913825,19.833443,17.208166,21.689014,...,28.805448,27.102390,32.049499,33.333333,56.722689,17.134560,25.783476,18.257453,23.699881,29.124005
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2020-09-03,44.793680,23.679900,61.207510,57.180580,35.707570,55.572770,25.161750,34.107460,33.429950,40.789020,...,44.682020,47.391200,52.942300,40.644170,56.804830,45.614440,43.299690,52.033580,42.279630,37.762790
2020-09-04,44.438290,23.266640,61.403330,57.713640,36.948410,56.348300,24.012730,35.517680,33.611110,43.806190,...,44.594000,48.455710,52.975850,41.660730,55.201040,45.801170,42.842260,52.052990,43.587310,38.883720

    - Reduced Coping Strategy Index (rCSI >= 19):

In [9]:
# Load the the data of the rcsi indicator released by wfp.
rcsi = pd.read_csv(PATH_TO_DATA_FOLDER + "Reduced Coping Strategy Index (rCSI)/output_timeseries/%s/wfp_rcsi-interpolate.csv" % COUNTRY, header = [0, 1], index_col = 0)
rcsi.index.name = "Datetime"
rcsi.index = pd.to_datetime(rcsi.index)
freq = "D"
rcsi.index.freq = freq

In [10]:
rcsi

AdminStrata,Abyan,Aden,Al Bayda,Al Dhale'e,Al Hudaydah,Al Jawf,Al Maharah,Al Mahwit,Amanat Al Asimah,Amran,...,Hajjah,Ibb,Lahj,Marib,Raymah,Sa'ada,Sana'a,Shabwah,Socotra,Taizz
Indicator,rCSI >= 19,rCSI >= 19,rCSI >= 19,rCSI >= 19,rCSI >= 19,rCSI >= 19,rCSI >= 19,rCSI >= 19,rCSI >= 19,rCSI >= 19,...,rCSI >= 19,rCSI >= 19,rCSI >= 19,rCSI >= 19,rCSI >= 19,rCSI >= 19,rCSI >= 19,rCSI >= 19,rCSI >= 19,rCSI >= 19
Datetime,,,,,,,,,,,,,,,,,,,,,
2018-08-22,37.421880,35.628421,39.101832,43.976194,52.097359,61.911549,16.898433,61.867752,52.923223,51.085993,...,66.698570,60.797456,44.782684,60.490004,56.301100,46.435518,52.667849,34.302200,38.303104,50.919038
2018-08-23,37.346207,30.467806,38.444610,44.524081,53.395195,67.312845,16.219712,61.391407,54.706540,47.318314,...,61.331133,61.011650,44.038726,59.568557,57.324106,45.261947,50.214606,36.742499,39.545071,50.415852
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2020-09-03,39.012960,40.415880,58.985290,49.297500,57.874460,61.429600,43.177570,49.745770,57.763980,52.820390,...,58.486840,55.698490,32.479940,53.338840,50.089750,55.270820,61.457250,44.477160,41.310850,52.016400
2020-09-04,39.850460,41.487350,58.990410,49.826080,57.662490,62.149780,42.571970,48.484000,57.708330,52.037360,...,57.386740,55.954810,33.466440,52.637210,49.479080,54.210530,62.828380,43.348300,41.412100,51.242520

    - Rainfalls:

In [11]:
# Load the data of rainfall indicator released by wfp.
rainfall = pd.read_csv(PATH_TO_DATA_FOLDER + "Rainfall & Vegetation/output_timeseries/%s/wfp_rainfall-dekad.csv" % COUNTRY, header = [0, 1], index_col = 0)
rainfall.index.name = "Datetime"
rainfall.index = pd.to_datetime(rainfall.index)
freq = "D"
rainfall.index.freq = freq

In [12]:
rainfall

AdminStrata                         Abyan                                 \
Indicator   1 Month Anomaly Rainfalls (%) 3 Months Anomaly Rainfalls (%)
Datetime
2018-01-10                     111.573472                     115.588820
2018-01-11                            NaN                            NaN
...                                   ...                            ...
2020-11-19                            NaN                            NaN
2020-11-20                     105.911663                     121.649211

AdminStrata                                         Aden  \
Indicator   Rainfalls (mm) 1 Month Anomaly Rainfalls (%)
Datetime
2018-01-10           0.776                        100.35
2018-01-11             NaN                           NaN
...                    ...                           ...
2020-11-19             NaN                           NaN
2020-11-20           1.042                        100.00

AdminStrata                                                \
Indicator   3 Months Anomaly Rainfalls (%) Rainfalls (mm)
Datetime
2018-01-10                      100.322036          0.042
2018-01-11                             NaN            NaN
...                                    ...            ...
2020-11-19                             NaN            NaN
2020-11-20                       97.857419          0.000

AdminStrata                      Al Bayda                                 \
Indicator   1 Month Anomaly Rainfalls (%) 3 Months Anomaly Rainfalls (%)
Datetime
2018-01-10                     119.610055                     127.042960
2018-01-11                            NaN                            NaN
...                                   ...                            ...
2020-11-19                            NaN                            NaN
2020-11-20                     108.974802                     137.730511

AdminStrata                                   Al Dhale'e  ...         Sana'a  \
Indicator   Rainfalls (mm) 1 Month Anomaly Rainfalls (%)  ... Rainfalls (mm)
Datetime                                                  ...
2018-01-10           1.000                    110.858968  ...          0.950
2018-01-11             NaN                           NaN  ...            NaN
...                    ...                           ...  ...            ...
2020-11-19             NaN                           NaN  ...            NaN
2020-11-20           1.007                    113.349090  ...          1.493

AdminStrata                       Shabwah                                 \
Indicator   1 Month Anomaly Rainfalls (%) 3 Months Anomaly Rainfalls (%)
Datetime
2018-01-10                     105.149317                     108.365589
2018-01-11                            NaN                            NaN
...                                   ...                            ...
2020-11-19                            NaN                            NaN
2020-11-20                     104.922924                     115.034899

AdminStrata                                      Socotra  \
Indicator   Rainfalls (mm) 1 Month Anomaly Rainfalls (%)
Datetime
2018-01-10           1.671                     82.433476
2018-01-11             NaN                           NaN
...                    ...                           ...
2020-11-19             NaN                           NaN
2020-11-20           1.588                    130.308232

AdminStrata                                                \
Indicator   3 Months Anomaly Rainfalls (%) Rainfalls (mm)
Datetime
2018-01-10                       79.007215          1.278
2018-01-11                             NaN            NaN
...                                    ...            ...
2020-11-19                             NaN            NaN
2020-11-20                      127.962466         15.008

AdminStrata                         Taizz                                 \
Indicator   1 Month Anomaly Rainfalls (%) 3 Months Anomaly Rainfalls (%)
Datetime
2018-01-10                     109.392692                     101.883657
2018-01-11                            NaN                            NaN
...                                   ...                            ...
2020-11-19                            NaN                            NaN
2020-11-20                      92.952221                      99.324261

AdminStrata
Indicator   Rainfalls (mm)
Datetime
2018-01-10           0.783
2018-01-11             NaN
...                    ...
2020-11-19             NaN
2020-11-20           0.935

[1046 rows x 66 columns]

    - Vegetations:

In [13]:
# Load the data of vegetation indicator released by wfp.
NDVI = pd.read_csv(PATH_TO_DATA_FOLDER + "Rainfall & Vegetation/output_timeseries/%s/wfp_NDVI-dekad.csv" % COUNTRY, header = [0, 1], index_col = 0)
NDVI.index.name = "Datetime"
NDVI.index = pd.to_datetime(NDVI.index)
freq = "D"
NDVI.index.freq = freq

In [14]:
NDVI

AdminStrata     Abyan                   Aden               Al Bayda  \
Indicator        NDVI NDVI Anomaly      NDVI NDVI Anomaly      NDVI
Datetime
2018-01-10   0.114597   101.017685  0.081060   102.111765  0.133560
2018-01-11        NaN          NaN       NaN          NaN       NaN
...               ...          ...       ...          ...       ...
2020-11-19        NaN          NaN       NaN          NaN       NaN
2020-11-20   0.143778   114.743734  0.091283   110.381200  0.173139

AdminStrata              Al Dhale'e              Al Hudaydah               \
Indicator   NDVI Anomaly       NDVI NDVI Anomaly        NDVI NDVI Anomaly
Datetime
2018-01-10    105.281060   0.181871   107.598642    0.182904   108.701929
2018-01-11           NaN        NaN          NaN         NaN          NaN
...                  ...        ...          ...         ...          ...
2020-11-19           NaN        NaN          NaN         NaN          NaN
2020-11-20    122.226604   0.214612   111.914817    0.207904   108.073103

AdminStrata  ...    Sa'ada                 Sana'a                Shabwah  \
Indicator    ...      NDVI NDVI Anomaly      NDVI NDVI Anomaly      NDVI
Datetime     ...
2018-01-10   ...  0.140757   104.070799  0.148818   103.143571  0.118788
2018-01-11   ...       NaN          NaN       NaN          NaN       NaN
...          ...       ...          ...       ...          ...       ...
2020-11-19   ...       NaN          NaN       NaN          NaN       NaN
2020-11-20   ...  0.163782   116.218984  0.194291   120.561067  0.126139

AdminStrata                Socotra                  Taizz
Indicator   NDVI Anomaly      NDVI NDVI Anomaly      NDVI NDVI Anomaly
Datetime
2018-01-10    104.650775  0.275747   100.659600  0.184924   103.444085
2018-01-11           NaN       NaN          NaN       NaN          NaN
...                  ...       ...          ...       ...          ...
2020-11-19           NaN       NaN          NaN       NaN          NaN
2020-11-20    108.424473  0.249192    91.621916  0.228715   105.903920

[1046 rows x 44 columns]

    - Conflicts:

In [15]:
# Load the data of conflicts indicator released by ACLED.
conflict = pd.read_csv(PATH_TO_DATA_FOLDER + "Conflicts/output_timeseries/%s/wfp_conflicts_sum_event_SvyWindow.csv" % COUNTRY, header = [0, 1], index_col = 0)
conflict.index.name = "Datetime"
conflict.index = pd.to_datetime(conflict.index)
freq = "D"
conflict.index.freq = freq

In [16]:
conflict

AdminStrata,Abyan,Aden,Al Bayda,Al Dhale'e,Al Hudaydah,Al Jawf,Al Maharah,Al Mahwit,Amanat Al Asimah,Amran,...,Hajjah,Ibb,Lahj,Marib,Raymah,Sa'ada,Sana'a,Shabwah,Socotra,Taizz
Indicator,Fatalities,Fatalities,Fatalities,Fatalities,Fatalities,Fatalities,Fatalities,Fatalities,Fatalities,Fatalities,...,Fatalities,Fatalities,Fatalities,Fatalities,Fatalities,Fatalities,Fatalities,Fatalities,Fatalities,Fatalities
Datetime,,,,,,,,,,,,,,,,,,,,,
2018-07-02,4.0,3.0,248.0,49.0,1190.0,327.0,0.0,0.0,5.0,9.0,...,136.0,3.0,99.0,97.0,0.0,593.0,155.0,7.0,0.0,404.0
2018-07-03,4.0,5.0,248.0,49.0,1152.0,321.0,0.0,0.0,5.0,9.0,...,124.0,3.0,105.0,97.0,0.0,596.0,160.0,7.0,0.0,407.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2020-09-03,38.0,10.0,272.0,189.0,271.0,247.0,0.0,0.0,0.0,0.0,...,1.0,0.0,1.0,608.0,0.0,100.0,43.0,8.0,1.0,33.0
2020-09-04,39.0,10.0,289.0,176.0,283.0,260.0,0.0,0.0,0.0,0.0,...,1.0,0.0,1.0,608.0,0.0,82.0,43.0,8.0,1.0,33.0

    - Market prices:

In [17]:
# Load the data of market prices indicator released by wfp.
price = pd.read_csv(PATH_TO_DATA_FOLDER + "Market Prices/output_timeseries/%s/wfp_relevant_market_price-interpolate-common-food_group-month.csv" % COUNTRY, header = [0, 1], index_col = 0)
price.index.name = "Datetime"
price.index = pd.to_datetime(price.index)
freq = "D"
price.index.freq = freq

In [18]:
price

AdminStrata         Abyan                                   Aden  \
Food Group  Exchange rate Price cereals and tubers Exchange rate
Datetime
2018-05-31       0.034319                 0.135204      0.028511
2018-06-01            NaN                      NaN           NaN
...                   ...                      ...           ...
2020-09-29            NaN                      NaN           NaN
2020-09-30       0.708025                 0.590698      0.711721

AdminStrata                               Al Bayda                           \
Food Group  Price cereals and tubers Exchange rate Price cereals and tubers
Datetime
2018-05-31                  0.044926      0.015312                 0.126103
2018-06-01                       NaN           NaN                      NaN
...                              ...           ...                      ...
2020-09-29                       NaN           NaN                      NaN
2020-09-30                  0.521988      0.268743                 0.401177

AdminStrata    Al Dhale'e                            Al Hudaydah  \
Food Group  Exchange rate Price cereals and tubers Exchange rate
Datetime
2018-05-31       0.026927                 0.101887      0.017951
2018-06-01            NaN                      NaN           NaN
...                   ...                      ...           ...
2020-09-29            NaN                      NaN           NaN
2020-09-30       0.714361                 0.564391      0.271911

AdminStrata                           ...        Raymah  \
Food Group  Price cereals and tubers  ... Exchange rate
Datetime                              ...
2018-05-31                  0.146945  ...      0.015839
2018-06-01                       NaN  ...           NaN
...                              ...  ...           ...
2020-09-29                       NaN  ...           NaN
2020-09-30                  0.328996  ...      0.264520

AdminStrata                                 Sa'ada                           \
Food Group  Price cereals and tubers Exchange rate Price cereals and tubers
Datetime
2018-05-31                  0.126103      0.016367                 0.150873
2018-06-01                       NaN           NaN                      NaN
...                              ...           ...                      ...
2020-09-29                       NaN           NaN                      NaN
2020-09-30                  0.419844      0.268215                 0.327548

AdminStrata        Sana'a                                Shabwah  \
Food Group  Exchange rate Price cereals and tubers Exchange rate
Datetime
2018-05-31       0.015312                 0.133647      0.017951
2018-06-01            NaN                      NaN           NaN
...                   ...                      ...           ...
2020-09-29            NaN                      NaN           NaN
2020-09-30       0.267687                 0.366686      0.711721

AdminStrata                                  Taizz
Food Group  Price cereals and tubers Exchange rate Price cereals and tubers
Datetime
2018-05-31                  0.132191      0.019535                 0.163503
2018-06-01                       NaN           NaN                      NaN
...                              ...           ...                      ...
2020-09-29                       NaN           NaN                      NaN
2020-09-30                  0.542562      0.715417                 0.555553

[854 rows x 42 columns]

    - Population:

In [19]:
# Load the data of population released by wfp.
population = pd.read_csv(PATH_TO_DATA_FOLDER + "Population/output_timeseries/%s/wfp_population.csv" % COUNTRY, header = [0, 1], index_col = 0)
population.index.name = "Datetime"
population.index = pd.to_datetime(population.index)
freq = "D"
population.index.freq = freq

In [20]:
population

AdminStrata,Abyan,Aden,Al Bayda,Al Dhale'e,Al Hudaydah,Al Jawf,Al Maharah,Al Mahwit,Amanat Al Asimah,Amran,...,Hajjah,Ibb,Lahj,Marib,Raymah,Sa'ada,Sana'a,Shabwah,Socotra,Taizz
Indicator,Population,Population,Population,Population,Population,Population,Population,Population,Population,Population,...,Population,Population,Population,Population,Population,Population,Population,Population,Population,Population
Datetime,,,,,,,,,,,,,,,,,,,,,
2018-01-01,615154,997308,775404,779656,2985122,603816,169327,774511,3406643,1205960,...,2510327,3080130,1058219,495634,646854,981401,1469960,665881,68247,3065034
2018-01-02,615154,997308,775404,779656,2985122,603816,169327,774511,3406643,1205960,...,2510327,3080130,1058219,495634,646854,981401,1469960,665881,68247,3065034
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2020-12-31,615154,997308,775404,779656,2985122,603816,169327,774511,3406643,1205960,...,2510327,3080130,1058219,495634,646854,981401,1469960,665881,68247,3065034
2021-01-01,615154,997308,775404,779656,2985122,603816,169327,774511,3406643,1205960,...,2510327,3080130,1058219,495634,646854,981401,1469960,665881,68247,3065034

    - Coordinates:

In [21]:
# Load the data of coordination.
coordinates = pd.read_csv(PATH_TO_DATA_FOLDER + "Coordinates/output_timeseries/%s/wfp_coordinates.csv" % COUNTRY, header = [0, 1], index_col = 0)
coordinates.index.name = "Datetime"
coordinates.index = pd.to_datetime(coordinates.index)
freq = "D"
coordinates.index.freq = freq

In [22]:
coordinates

AdminStrata      Abyan                  Aden             Al Bayda             \
Indicator          Lat        Lon        Lat       Lon        Lat        Lon
Datetime
2018-01-01   13.704878  46.158142  12.835529  44.80032  14.320239  45.336603
2018-01-02   13.704878  46.158142  12.835529  44.80032  14.320239  45.336603
...                ...        ...        ...       ...        ...        ...
2020-12-31   13.704878  46.158142  12.835529  44.80032  14.320239  45.336603
2021-01-01   13.704878  46.158142  12.835529  44.80032  14.320239  45.336603

AdminStrata Al Dhale'e            Al Hudaydah             ...     Sa'ada  \
Indicator          Lat        Lon         Lat        Lon  ...        Lat
Datetime                                                  ...
2018-01-01   13.896385  44.760434    14.83052  43.167047  ...  17.089972
2018-01-02   13.896385  44.760434    14.83052  43.167047  ...  17.089972
...                ...        ...         ...        ...  ...        ...
2020-12-31   13.896385  44.760434    14.83052  43.167047  ...  17.089972
2021-01-01   13.896385  44.760434    14.83052  43.167047  ...  17.089972

AdminStrata                Sana'a               Shabwah               Socotra  \
Indicator          Lon        Lat        Lon        Lat        Lon        Lat
Datetime
2018-01-01   43.920084  15.334488  44.347569  14.762417  46.923133  12.488974
2018-01-02   43.920084  15.334488  44.347569  14.762417  46.923133  12.488974
...                ...        ...        ...        ...        ...        ...
2020-12-31   43.920084  15.334488  44.347569  14.762417  46.923133  12.488974
2021-01-01   43.920084  15.334488  44.347569  14.762417  46.923133  12.488974

AdminStrata                 Taizz
Indicator          Lon        Lat        Lon
Datetime
2018-01-01   53.805239  13.416517  43.778161
2018-01-02   53.805239  13.416517  43.778161
...                ...        ...        ...
2020-12-31   53.805239  13.416517  43.778161
2021-01-01   53.805239  13.416517  43.778161

[1097 rows x 44 columns]

    - Ramadan:

In [23]:
# Load the data of Ramadan.
ramadan = pd.read_csv(PATH_TO_DATA_FOLDER + "Ramadan/output_timeseries/%s/wfp_ramadan_SvyWindow.csv" % COUNTRY, header = [0, 1], index_col = 0)
ramadan.index.name = "Datetime"
ramadan.index = pd.to_datetime(ramadan.index)
freq = "D"
ramadan.index.freq = freq

In [24]:
ramadan

AdminStrata,Abyan,Aden,Al Bayda,Al Dhale'e,Al Hudaydah,Al Jawf,Al Maharah,Al Mahwit,Amanat Al Asimah,Amran,...,Hajjah,Ibb,Lahj,Marib,Raymah,Sa'ada,Sana'a,Shabwah,Socotra,Taizz
Indicator,Ramadan,Ramadan,Ramadan,Ramadan,Ramadan,Ramadan,Ramadan,Ramadan,Ramadan,Ramadan,...,Ramadan,Ramadan,Ramadan,Ramadan,Ramadan,Ramadan,Ramadan,Ramadan,Ramadan,Ramadan
Datetime,,,,,,,,,,,,,,,,,,,,,
2018-07-02,13.0,13.0,13.0,13.0,13.0,13.0,13.0,13.0,13.0,13.0,...,13.0,13.0,13.0,13.0,13.0,13.0,13.0,13.0,13.0,13.0
2018-07-03,12.0,12.0,12.0,12.0,12.0,12.0,12.0,12.0,12.0,12.0,...,12.0,12.0,12.0,12.0,12.0,12.0,12.0,12.0,12.0,12.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2020-09-03,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2020-09-04,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

    - Adminstrata Codes:

In [25]:
# Load the data of administrative codes.
admin_code = pd.read_csv(PATH_TO_DATA_FOLDER + "Adminstrata Code/output_timeseries/%s/wfp_adminstrata_code.csv" % COUNTRY, header = [0, 1], index_col = 0)
admin_code.index.name = "Datetime"
admin_code.index = pd.to_datetime(admin_code.index)
freq = "D"
admin_code.index.freq = freq

In [26]:
admin_code

AdminStrata,Ibb,Abyan,Amanat Al Asimah,Al Bayda,Taizz,Al Jawf,Hajjah,Al Hudaydah,Hadramaut,Dhamar,...,Sana'a,Aden,Lahj,Marib,Al Mahwit,Al Maharah,Amran,Al Dhale'e,Raymah,Socotra
Indicator,Code,Code,Code,Code,Code,Code,Code,Code,Code,Code,...,Code,Code,Code,Code,Code,Code,Code,Code,Code,Code
Datetime,,,,,,,,,,,,,,,,,,,,,
2018-01-01,64,65,66,67,68,69,70,71,72,73,...,76,77,78,79,80,81,82,83,84,85
2018-01-02,64,65,66,67,68,69,70,71,72,73,...,76,77,78,79,80,81,82,83,84,85
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2020-12-31,64,65,66,67,68,69,70,71,72,73,...,76,77,78,79,80,81,82,83,84,85
2021-01-01,64,65,66,67,68,69,70,71,72,73,...,76,77,78,79,80,81,82,83,84,85

In [27]:
# Create the full dataset.
df = pd.concat([fcs, rcsi, rainfall, conflict, NDVI, price, population, coordinates, ramadan, admin_code], axis = 1, levels = 0).sort_index(axis = 1, level = [0, 1])

In [28]:
PROVINCES = df.columns.get_level_values(0).unique()
PROVINCES

Index(['Abyan', 'Aden', 'Al Bayda', 'Al Dhale'e', 'Al Hudaydah', 'Al Jawf',
       'Al Maharah', 'Al Mahwit', 'Amanat Al Asimah', 'Amran', 'Dhamar',
       'Hadramaut', 'Hajjah', 'Ibb', 'Lahj', 'Marib', 'Raymah', 'Sa'ada',
       'Sana'a', 'Shabwah', 'Socotra', 'Taizz'],
      dtype='object', name='AdminStrata')

In [29]:
PREDICTORS = df.columns.get_level_values(1).unique()
PREDICTORS

Index(['1 Month Anomaly Rainfalls (%)', '3 Months Anomaly Rainfalls (%)',
       'Code', 'Exchange rate', 'FCG <= 2', 'Fatalities', 'Lat', 'Lon', 'NDVI',
       'NDVI Anomaly', 'Population', 'Price cereals and tubers',
       'Rainfalls (mm)', 'Ramadan', 'rCSI >= 19'],
      dtype='object', name='Indicator')

In [30]:
for PROVINCE in PROVINCES:
    print(PROVINCE)
    print(df[PROVINCE].columns)

Abyan
Index(['1 Month Anomaly Rainfalls (%)', '3 Months Anomaly Rainfalls (%)',
       'Code', 'Exchange rate', 'FCG <= 2', 'Fatalities', 'Lat', 'Lon', 'NDVI',
       'NDVI Anomaly', 'Population', 'Price cereals and tubers',
       'Rainfalls (mm)', 'Ramadan', 'rCSI >= 19'],
      dtype='object', name='Indicator')
Aden
Index(['1 Month Anomaly Rainfalls (%)', '3 Months Anomaly Rainfalls (%)',
       'Code', 'Exchange rate', 'FCG <= 2', 'Fatalities', 'Lat', 'Lon', 'NDVI',
       'NDVI Anomaly', 'Population', 'Price cereals and tubers',
       'Rainfalls (mm)', 'Ramadan', 'rCSI >= 19'],
      dtype='object', name='Indicator')
Al Bayda
Index(['1 Month Anomaly Rainfalls (%)', '3 Months Anomaly Rainfalls (%)',
       'Code', 'Exchange rate', 'FCG <= 2', 'Fatalities', 'Lat', 'Lon', 'NDVI',
       'NDVI Anomaly', 'Population', 'Price cereals and tubers',
       'Rainfalls (mm)', 'Ramadan', 'rCSI >= 19'],
      dtype='object', name='Indicator')
Al Dhale'e
Index(['1 Month Anomaly Rainfalls (%)', '3 Months Anomaly Rainfalls (%)',
       'Code', 'Exchange rate', 'FCG <= 2', 'Fatalities', 'Lat', 'Lon', 'NDVI',
       'NDVI Anomaly', 'Population', 'Price cereals and tubers',
       'Rainfalls (mm)', 'Ramadan', 'rCSI >= 19'],
      dtype='object', name='Indicator')
Al Hudaydah
Index(['1 Month Anomaly Rainfalls (%)', '3 Months Anomaly Rainfalls (%)',
       'Code', 'Exchange rate', 'FCG <= 2', 'Fatalities', 'Lat', 'Lon', 'NDVI',
       'NDVI Anomaly', 'Population', 'Price cereals and tubers',
       'Rainfalls (mm)', 'Ramadan', 'rCSI >= 19'],
      dtype='object', name='Indicator')
Al Jawf
Index(['1 Month Anomaly Rainfalls (%)', '3 Months Anomaly Rainfalls (%)',
       'Code', 'Exchange rate', 'FCG <= 2', 'Fatalities', 'Lat', 'Lon', 'NDVI',
       'NDVI Anomaly', 'Population', 'Price cereals and tubers',
       'Rainfalls (mm)', 'Ramadan', 'rCSI >= 19'],
      dtype='object', name='Indicator')
Al Maharah
Index(['1 Month Anomaly Rainfalls (%)', '3 Months Anomaly Rainfalls (%)',
       'Code', 'Exchange rate', 'FCG <= 2', 'Fatalities', 'Lat', 'Lon', 'NDVI',
       'NDVI Anomaly', 'Population', 'Price cereals and tubers',
       'Rainfalls (mm)', 'Ramadan', 'rCSI >= 19'],
      dtype='object', name='Indicator')
Al Mahwit
Index(['1 Month Anomaly Rainfalls (%)', '3 Months Anomaly Rainfalls (%)',
       'Code', 'Exchange rate', 'FCG <= 2', 'Fatalities', 'Lat', 'Lon', 'NDVI',
       'NDVI Anomaly', 'Population', 'Price cereals and tubers',
       'Rainfalls (mm)', 'Ramadan', 'rCSI >= 19'],
      dtype='object', name='Indicator')
Amanat Al Asimah
Index(['1 Month Anomaly Rainfalls (%)', '3 Months Anomaly Rainfalls (%)',
       'Code', 'Exchange rate', 'FCG <= 2', 'Fatalities', 'Lat', 'Lon', 'NDVI',
       'NDVI Anomaly', 'Population', 'Price cereals and tubers',
       'Rainfalls (mm)', 'Ramadan', 'rCSI >= 19'],
      dtype='object', name='Indicator')
Amran
Index(['1 Month Anomaly Rainfalls (%)', '3 Months Anomaly Rainfalls (%)',
       'Code', 'Exchange rate', 'FCG <= 2', 'Fatalities', 'Lat', 'Lon', 'NDVI',
       'NDVI Anomaly', 'Population', 'Price cereals and tubers',
       'Rainfalls (mm)', 'Ramadan', 'rCSI >= 19'],
      dtype='object', name='Indicator')
Dhamar
Index(['1 Month Anomaly Rainfalls (%)', '3 Months Anomaly Rainfalls (%)',
       'Code', 'Exchange rate', 'FCG <= 2', 'Fatalities', 'Lat', 'Lon', 'NDVI',
       'NDVI Anomaly', 'Population', 'Price cereals and tubers',
       'Rainfalls (mm)', 'Ramadan', 'rCSI >= 19'],
      dtype='object', name='Indicator')
Hadramaut
Index(['1 Month Anomaly Rainfalls (%)', '3 Months Anomaly Rainfalls (%)',
       'Code', 'Exchange rate', 'FCG <= 2', 'Fatalities', 'Lat', 'Lon', 'NDVI',
       'NDVI Anomaly', 'Population', 'Price cereals and tubers',
       'Rainfalls (mm)', 'Ramadan', 'rCSI >= 19'],
      dtype='object', name='Indicator')
Hajjah
Index(['1 Month Anomaly Rainfalls (%)', '3 Months Anomaly Rainfalls (%)',
       'Code', 'Exchange rate', 'FCG <= 2', 'Fatalities', 'Lat', 'Lon', 'NDVI',
       'NDVI Anomaly', 'Population', 'Price cereals and tubers',
       'Rainfalls (mm)', 'Ramadan', 'rCSI >= 19'],
      dtype='object', name='Indicator')
Ibb
Index(['1 Month Anomaly Rainfalls (%)', '3 Months Anomaly Rainfalls (%)',
       'Code', 'Exchange rate', 'FCG <= 2', 'Fatalities', 'Lat', 'Lon', 'NDVI',
       'NDVI Anomaly', 'Population', 'Price cereals and tubers',
       'Rainfalls (mm)', 'Ramadan', 'rCSI >= 19'],
      dtype='object', name='Indicator')
Lahj
Index(['1 Month Anomaly Rainfalls (%)', '3 Months Anomaly Rainfalls (%)',
       'Code', 'Exchange rate', 'FCG <= 2', 'Fatalities', 'Lat', 'Lon', 'NDVI',
       'NDVI Anomaly', 'Population', 'Price cereals and tubers',
       'Rainfalls (mm)', 'Ramadan', 'rCSI >= 19'],
      dtype='object', name='Indicator')
Marib
Index(['1 Month Anomaly Rainfalls (%)', '3 Months Anomaly Rainfalls (%)',
       'Code', 'Exchange rate', 'FCG <= 2', 'Fatalities', 'Lat', 'Lon', 'NDVI',
       'NDVI Anomaly', 'Population', 'Price cereals and tubers',
       'Rainfalls (mm)', 'Ramadan', 'rCSI >= 19'],
      dtype='object', name='Indicator')
Raymah
Index(['1 Month Anomaly Rainfalls (%)', '3 Months Anomaly Rainfalls (%)',
       'Code', 'Exchange rate', 'FCG <= 2', 'Fatalities', 'Lat', 'Lon', 'NDVI',
       'NDVI Anomaly', 'Population', 'Price cereals and tubers',
       'Rainfalls (mm)', 'Ramadan', 'rCSI >= 19'],
      dtype='object', name='Indicator')
Sa'ada
Index(['1 Month Anomaly Rainfalls (%)', '3 Months Anomaly Rainfalls (%)',
       'Code', 'Exchange rate', 'FCG <= 2', 'Fatalities', 'Lat', 'Lon', 'NDVI',
       'NDVI Anomaly', 'Population', 'Price cereals and tubers',
       'Rainfalls (mm)', 'Ramadan', 'rCSI >= 19'],
      dtype='object', name='Indicator')
Sana'a
Index(['1 Month Anomaly Rainfalls (%)', '3 Months Anomaly Rainfalls (%)',
       'Code', 'Exchange rate', 'FCG <= 2', 'Fatalities', 'Lat', 'Lon', 'NDVI',
       'NDVI Anomaly', 'Population', 'Price cereals and tubers',
       'Rainfalls (mm)', 'Ramadan', 'rCSI >= 19'],
      dtype='object', name='Indicator')
Shabwah
Index(['1 Month Anomaly Rainfalls (%)', '3 Months Anomaly Rainfalls (%)',
       'Code', 'Exchange rate', 'FCG <= 2', 'Fatalities', 'Lat', 'Lon', 'NDVI',
       'NDVI Anomaly', 'Population', 'Price cereals and tubers',
       'Rainfalls (mm)', 'Ramadan', 'rCSI >= 19'],
      dtype='object', name='Indicator')
Socotra
Index(['1 Month Anomaly Rainfalls (%)', '3 Months Anomaly Rainfalls (%)',
       'Code', 'FCG <= 2', 'Fatalities', 'Lat', 'Lon', 'NDVI', 'NDVI Anomaly',
       'Population', 'Rainfalls (mm)', 'Ramadan', 'rCSI >= 19'],
      dtype='object', name='Indicator')
Taizz
Index(['1 Month Anomaly Rainfalls (%)', '3 Months Anomaly Rainfalls (%)',
       'Code', 'Exchange rate', 'FCG <= 2', 'Fatalities', 'Lat', 'Lon', 'NDVI',
       'NDVI Anomaly', 'Population', 'Price cereals and tubers',
       'Rainfalls (mm)', 'Ramadan', 'rCSI >= 19'],
      dtype='object', name='Indicator')

In [31]:
# For now, we decide to delete the Socotra and Hadramaut provinces due to FCG <= 2 and rCSI >= 19 ambiguous behaviour.
df.drop(["Hadramaut", "Socotra"], axis = 1, level = 0, inplace = True)

In [32]:
# Plot time-series.
TsIP(df).interactive_plot_df(title = "Time-series", matplotlib = False, style = "mix", comparison = False, first_last_valid_index_group = True)

interactive(children=(ToggleButtons(description='AdminStrata', options=('Abyan', 'Aden', 'Al Bayda', "Al Dhaleâ€¦

In [33]:
# Save the datasets.
df.to_csv(PATH_TO_SAVE + "Yemen.csv", index_label = False)