In [1]:
import pandas as pd
import numpy as np

In [2]:
pd.options.display.max_rows = 4

In [3]:
# Add the python path to the folder containing some custom packages.
import sys
sys.path.insert(0, "../packages/")
from TsIP.TsIP import TsIP

# Yemen

We create the dataset of multivariate time-series for the Yemen country.

In [4]:
COUNTRY = "Yemen"

In [5]:
PATH_TO_SAVE = "./output_data/Yemen/"

## Data sources

For more details regarding each single data source see the folder *Data Sources*.

In [6]:
PATH_TO_DATA_FOLDER = "../Data Sources/"

    - Food Consumption Score (FCG <= 2):

In [7]:
# Load the data of the fcs indicator released by wfp.
fcs = pd.read_csv(PATH_TO_DATA_FOLDER + "2. Food Consumption Score (FCS)/output_timeseries/%s/wfp_fcs-interpolate.csv" % COUNTRY, header = [0, 1], index_col = 0)
fcs.index.name = "Datetime"
fcs.index = pd.to_datetime(fcs.index)
freq = "D"
fcs.index.freq = freq

In [8]:
fcs

AdminStrata,Abyan,Aden,Al Bayda,Al Dhale'e,Al Hudaydah,Al Jawf,Al Maharah,Al Mahwit,Amanat Al Asimah,Amran,...,Hajjah,Ibb,Lahj,Marib,Raymah,Sa'ada,Sana'a,Shabwah,Socotra,Taizz
Indicator,FCG,FCG,FCG,FCG,FCG,FCG,FCG,FCG,FCG,FCG,...,FCG,FCG,FCG,FCG,FCG,FCG,FCG,FCG,FCG,FCG
Datetime,,,,,,,,,,,,,,,,,,,,,
2018-07-02,31.1587,16.6195,38.3327,29.1948,20.7882,22.0857,2.89231,16.8151,17.0004,20.4467,...,28.3613,25.0367,31.7624,32.5962,54.1218,17.6760,26.9177,16.7523,23.8228,26.5634
2018-07-03,32.6752,16.3706,43.2921,31.3369,20.6925,23.4772,2.91383,19.8334,17.2082,21.6890,...,28.8054,27.1024,32.0495,33.3333,56.7227,17.1346,25.7835,18.2575,23.6999,29.1240
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2021-02-10,51.1125,25.6856,49.7252,53.9821,30.6627,57.1738,26.33010,30.7183,25.1032,48.1341,...,49.0780,44.4808,54.6746,40.3522,54.1279,37.6813,42.4611,55.4720,38.5734,44.9614
2021-02-11,50.7824,27.0035,49.8622,54.8413,30.2314,58.1453,25.82990,31.9100,23.5497,48.4230,...,51.4504,43.2066,54.0578,40.6667,55.0952,37.7768,40.9942,55.7603,37.8301,45.0097

    - Reduced Coping Strategy Index (rCSI >= 19):

In [9]:
# Load the the data of the rcsi indicator released by wfp.
rcsi = pd.read_csv(PATH_TO_DATA_FOLDER + "3. Reduced Coping Strategy Index (rCSI)/output_timeseries/%s/wfp_rcsi-interpolate.csv" % COUNTRY, header = [0, 1], index_col = 0)
rcsi.index.name = "Datetime"
rcsi.index = pd.to_datetime(rcsi.index)
freq = "D"
rcsi.index.freq = freq

In [10]:
rcsi

AdminStrata,Abyan,Aden,Al Bayda,Al Dhale'e,Al Hudaydah,Al Jawf,Al Maharah,Al Mahwit,Amanat Al Asimah,Amran,...,Hajjah,Ibb,Lahj,Marib,Raymah,Sa'ada,Sana'a,Shabwah,Socotra,Taizz
Indicator,rCSI,rCSI,rCSI,rCSI,rCSI,rCSI,rCSI,rCSI,rCSI,rCSI,...,rCSI,rCSI,rCSI,rCSI,rCSI,rCSI,rCSI,rCSI,rCSI,rCSI
Datetime,,,,,,,,,,,,,,,,,,,,,
2018-08-22,37.4219,35.6284,39.1018,43.9762,52.0974,61.9115,16.8984,61.8678,52.9232,51.0860,...,66.6986,60.7975,44.7827,60.4900,56.3011,46.4355,52.6679,34.3022,38.3031,50.9190
2018-08-23,37.3462,30.4678,38.4446,44.5241,53.3952,67.3128,16.2197,61.3914,54.7065,47.3183,...,61.3311,61.0117,44.0387,59.5686,57.3241,45.2619,50.2146,36.7425,39.5451,50.4159
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2021-02-10,44.0695,46.1472,62.5302,45.1480,61.8892,52.0468,44.7918,53.4859,60.9216,59.6165,...,61.2780,58.0397,49.3239,48.2001,44.4608,52.7582,57.5506,47.9128,46.3362,63.0977
2021-02-11,43.0136,46.4286,61.2146,45.9112,61.7627,52.4194,44.1877,51.6943,60.1796,60.5803,...,63.7236,57.5073,49.1076,49.1524,44.6341,52.8589,57.6040,48.0673,47.2962,61.7651

    - Rainfalls:

In [11]:
# Load the data of rainfall indicator released by wfp.
rainfall = pd.read_csv(PATH_TO_DATA_FOLDER + "4. Rainfall & Vegetation/output_timeseries/%s/wfp_rainfall-day.csv" % COUNTRY, header = [0, 1], index_col = 0)
rainfall.index.name = "Datetime"
rainfall.index = pd.to_datetime(rainfall.index)
freq = "D"
rainfall.index.freq = freq

In [12]:
rainfall

AdminStrata                         Abyan                                 \
Indicator   1 Month Anomaly Rainfalls (%) 3 Months Anomaly Rainfalls (%)
Datetime
2018-07-02                     121.383120                     137.630344
2018-07-03                     120.814645                     138.071903
...                                   ...                            ...
2021-02-09                     111.917074                     125.482812
2021-02-10                     111.795084                     125.633015

AdminStrata                                         Aden  \
Indicator   Rainfalls (mm) 1 Month Anomaly Rainfalls (%)
Datetime
2018-07-02          2.4262                    136.339269
2018-07-03          2.8847                    134.231456
...                    ...                           ...
2021-02-09          2.9522                    107.456078
2021-02-10          3.0305                    107.210317

AdminStrata                                                \
Indicator   3 Months Anomaly Rainfalls (%) Rainfalls (mm)
Datetime
2018-07-02                      166.726648         0.7209
2018-07-03                      166.978726         0.8751
...                                    ...            ...
2021-02-09                      123.776852         1.0333
2021-02-10                      123.942108         1.1333

AdminStrata                      Al Bayda                                 \
Indicator   1 Month Anomaly Rainfalls (%) 3 Months Anomaly Rainfalls (%)
Datetime
2018-07-02                     122.630505                     146.917240
2018-07-03                     121.948209                     147.919562
...                                   ...                            ...
2021-02-09                     118.071610                     128.644079
2021-02-10                     117.988628                     128.772794

AdminStrata                                   Al Dhale'e  ...         Sana'a  \
Indicator   Rainfalls (mm) 1 Month Anomaly Rainfalls (%)  ... Rainfalls (mm)
Datetime                                                  ...
2018-07-02          5.4088                    151.697347  ...         5.4919
2018-07-03          7.0768                    150.905538  ...         7.0160
...                    ...                           ...  ...            ...
2021-02-09          4.4105                    118.991465  ...         5.7604
2021-02-10          4.5870                    118.848905  ...         6.0667

AdminStrata                       Shabwah                                 \
Indicator   1 Month Anomaly Rainfalls (%) 3 Months Anomaly Rainfalls (%)
Datetime
2018-07-02                     116.913496                     125.808795
2018-07-03                     116.522007                     126.740336
...                                   ...                            ...
2021-02-09                     104.993224                     108.536064
2021-02-10                     105.102187                     108.650336

AdminStrata                                      Socotra  \
Indicator   Rainfalls (mm) 1 Month Anomaly Rainfalls (%)
Datetime
2018-07-02          2.8366                    105.909369
2018-07-03          3.4017                    105.607948
...                    ...                           ...
2021-02-09          4.9122                     99.666428
2021-02-10          4.9097                     99.672091

AdminStrata                                                \
Indicator   3 Months Anomaly Rainfalls (%) Rainfalls (mm)
Datetime
2018-07-02                      125.227723         0.0000
2018-07-03                      125.204127         0.0000
...                                    ...            ...
2021-02-09                      122.434209         0.1854
2021-02-10                      122.582724         0.0640

AdminStrata                         Taizz                                 \
Indicator   1 Month Anomaly Rainfalls (%) 3 Months Anomaly Rainfalls (%)
Datetime
2018-07-02                     168.525601                     170.921628
2018-07-03                     166.318183                     171.436855
...                                   ...                            ...
2021-02-09                     118.908461                     132.514357
2021-02-10                     118.578242                     133.086669

AdminStrata
Indicator   Rainfalls (mm)
Datetime
2018-07-02          7.8803
2018-07-03          8.3321
...                    ...
2021-02-09          4.7413
2021-02-10          4.9246

[955 rows x 66 columns]

    - Vegetations:

In [13]:
# Load the data of vegetation indicator released by wfp.
NDVI = pd.read_csv(PATH_TO_DATA_FOLDER + "4. Rainfall & Vegetation/output_timeseries/%s/wfp_NDVI-day.csv" % COUNTRY, header = [0, 1], index_col = 0)
NDVI.index.name = "Datetime"
NDVI.index = pd.to_datetime(NDVI.index)
freq = "D"
NDVI.index.freq = freq

In [14]:
NDVI

AdminStrata     Abyan                   Aden               Al Bayda  \
Indicator        NDVI NDVI Anomaly      NDVI NDVI Anomaly      NDVI
Datetime
2018-07-02   0.102374    99.485584  0.071626    98.579301  0.143472
2018-07-03   0.102296    99.532335  0.071601    98.593319  0.143069
...               ...          ...       ...          ...       ...
2021-02-09   0.140810   118.574054  0.088607   107.863253  0.154334
2021-02-10   0.140830   118.683369  0.088579   107.835714  0.154001

AdminStrata              Al Dhale'e              Al Hudaydah               \
Indicator   NDVI Anomaly       NDVI NDVI Anomaly        NDVI NDVI Anomaly
Datetime
2018-07-02    107.413560   0.203249   113.158048    0.134570    99.481777
2018-07-03    107.397647   0.203471   113.273278    0.134250    99.400341
...                  ...        ...          ...         ...          ...
2021-02-09    119.014411   0.192748   115.870395    0.175897   108.241723
2021-02-10    118.939604   0.192265   115.868111    0.175603   108.300349

AdminStrata  ...    Sa'ada                 Sana'a                Shabwah  \
Indicator    ...      NDVI NDVI Anomaly      NDVI NDVI Anomaly      NDVI
Datetime     ...
2018-07-02   ...  0.151144   107.167892  0.173760   108.018375  0.106316
2018-07-03   ...  0.150797   107.078176  0.173197   107.964266  0.106252
...          ...       ...          ...       ...          ...       ...
2021-02-09   ...  0.156962   114.166983  0.175472   119.414727  0.123339
2021-02-10   ...  0.156616   114.066283  0.174926   119.294697  0.123318

AdminStrata                Socotra                  Taizz
Indicator   NDVI Anomaly      NDVI NDVI Anomaly      NDVI NDVI Anomaly
Datetime
2018-07-02     99.805487  0.226142   107.804296  0.207995   107.052107
2018-07-03     99.810932  0.226611   108.054605  0.207854   106.887366
...                  ...       ...          ...       ...          ...
2021-02-09    108.098198  0.287970   109.076208  0.189651   109.123011
2021-02-10    108.127158  0.287160   109.143618  0.189089   109.123254

[955 rows x 44 columns]

    - Conflicts:

In [15]:
# Load the data of conflicts indicator released by ACLED.
conflict = pd.read_csv(PATH_TO_DATA_FOLDER + "6. Conflicts/output_timeseries/%s/wfp_conflicts_sum_event_SvyWindow.csv" % COUNTRY, header = [0, 1], index_col = 0)
conflict.index.name = "Datetime"
conflict.index = pd.to_datetime(conflict.index)
freq = "D"
conflict.index.freq = freq

In [16]:
conflict

AdminStrata,Abyan,Aden,Al Bayda,Al Dhale'e,Al Hudaydah,Al Jawf,Al Maharah,Al Mahwit,Amanat Al Asimah,Amran,...,Hajjah,Ibb,Lahj,Marib,Raymah,Sa'ada,Sana'a,Shabwah,Socotra,Taizz
Indicator,Fatalities,Fatalities,Fatalities,Fatalities,Fatalities,Fatalities,Fatalities,Fatalities,Fatalities,Fatalities,...,Fatalities,Fatalities,Fatalities,Fatalities,Fatalities,Fatalities,Fatalities,Fatalities,Fatalities,Fatalities
Datetime,,,,,,,,,,,,,,,,,,,,,
2018-07-02,4.0,3.0,248.0,49.0,1183.5,327.0,0.0,0.0,5.0,9.0,...,136.0,3.0,99.0,97.0,0.0,578.0,155.0,7.0,0.0,400.5
2018-07-03,4.0,5.0,248.0,49.0,1145.5,321.0,0.0,0.0,5.0,9.0,...,124.0,3.0,105.0,97.0,0.0,581.0,160.0,7.0,0.0,403.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2021-02-10,3.0,5.0,75.0,61.0,336.0,102.0,0.0,0.0,1.0,4.0,...,0.0,4.0,4.0,342.0,0.0,67.0,1.0,8.0,0.0,16.5
2021-02-11,3.0,5.0,75.0,61.0,332.0,128.0,0.0,0.0,1.0,4.0,...,0.0,4.0,1.0,389.0,0.0,68.0,1.0,8.0,0.0,15.0

    - Population:

In [17]:
# Load the data of population released by wfp.
population = pd.read_csv(PATH_TO_DATA_FOLDER + "10. Population/output_timeseries/%s/wfp_population.csv" % COUNTRY, header = [0, 1], index_col = 0)
population.index.name = "Datetime"
population.index = pd.to_datetime(population.index)
freq = "D"
population.index.freq = freq

In [18]:
population

AdminStrata,Abyan,Aden,Al Bayda,Al Dhale'e,Al Hudaydah,Al Jawf,Al Maharah,Al Mahwit,Amanat Al Asimah,Amran,...,Hajjah,Ibb,Lahj,Marib,Raymah,Sa'ada,Sana'a,Shabwah,Socotra,Taizz
Indicator,Population,Population,Population,Population,Population,Population,Population,Population,Population,Population,...,Population,Population,Population,Population,Population,Population,Population,Population,Population,Population
Datetime,,,,,,,,,,,,,,,,,,,,,
2018-01-01,615154,997308,775404,779656,2985122,603816,169327,774511,3406643,1205960,...,2510327,3080130,1058219,495634,646854,981401,1469960,665881,68247,3065034
2018-01-02,615154,997308,775404,779656,2985122,603816,169327,774511,3406643,1205960,...,2510327,3080130,1058219,495634,646854,981401,1469960,665881,68247,3065034
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2021-12-31,615154,997308,775404,779656,2985122,603816,169327,774511,3406643,1205960,...,2510327,3080130,1058219,495634,646854,981401,1469960,665881,68247,3065034
2022-01-01,615154,997308,775404,779656,2985122,603816,169327,774511,3406643,1205960,...,2510327,3080130,1058219,495634,646854,981401,1469960,665881,68247,3065034

    - Ramadan:

In [19]:
# Load the data of Ramadan.
ramadan = pd.read_csv(PATH_TO_DATA_FOLDER + "8. Ramadan/output_timeseries/%s/wfp_ramadan_SvyWindow.csv" % COUNTRY, header = [0, 1], index_col = 0)
ramadan.index.name = "Datetime"
ramadan.index = pd.to_datetime(ramadan.index)
freq = "D"
ramadan.index.freq = freq

In [20]:
ramadan

AdminStrata,Abyan,Aden,Al Bayda,Al Dhale'e,Al Hudaydah,Al Jawf,Al Maharah,Al Mahwit,Amanat Al Asimah,Amran,...,Hajjah,Ibb,Lahj,Marib,Raymah,Sa'ada,Sana'a,Shabwah,Socotra,Taizz
Indicator,Ramadan,Ramadan,Ramadan,Ramadan,Ramadan,Ramadan,Ramadan,Ramadan,Ramadan,Ramadan,...,Ramadan,Ramadan,Ramadan,Ramadan,Ramadan,Ramadan,Ramadan,Ramadan,Ramadan,Ramadan
Datetime,,,,,,,,,,,,,,,,,,,,,
2018-07-02,13.0,13.0,13.0,13.0,13.0,13.0,13.0,13.0,13.0,13.0,...,13.0,13.0,13.0,13.0,13.0,13.0,13.0,13.0,13.0,13.0
2018-07-03,12.0,12.0,12.0,12.0,12.0,12.0,12.0,12.0,12.0,12.0,...,12.0,12.0,12.0,12.0,12.0,12.0,12.0,12.0,12.0,12.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2021-02-10,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2021-02-11,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

    - Adminstrata Codes:

In [21]:
# Load the data of administrative codes.
admin_code = pd.read_csv(PATH_TO_DATA_FOLDER + "7. Adminstrata Code/output_timeseries/%s/wfp_adminstrata_code.csv" % COUNTRY, header = [0, 1], index_col = 0)
admin_code.index.name = "Datetime"
admin_code.index = pd.to_datetime(admin_code.index)
freq = "D"
admin_code.index.freq = freq

In [22]:
admin_code

AdminStrata,Ibb,Abyan,Amanat Al Asimah,Al Bayda,Taizz,Al Jawf,Hajjah,Al Hudaydah,Hadramaut,Dhamar,...,Sana'a,Aden,Lahj,Marib,Al Mahwit,Al Maharah,Amran,Al Dhale'e,Raymah,Socotra
Indicator,Code,Code,Code,Code,Code,Code,Code,Code,Code,Code,...,Code,Code,Code,Code,Code,Code,Code,Code,Code,Code
Datetime,,,,,,,,,,,,,,,,,,,,,
2018-01-01,77,78,79,80,81,82,83,84,85,86,...,89,90,91,92,93,94,95,96,97,98
2018-01-02,77,78,79,80,81,82,83,84,85,86,...,89,90,91,92,93,94,95,96,97,98
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2021-12-31,77,78,79,80,81,82,83,84,85,86,...,89,90,91,92,93,94,95,96,97,98
2022-01-01,77,78,79,80,81,82,83,84,85,86,...,89,90,91,92,93,94,95,96,97,98

    - Market Prices

In [23]:
# Load the data of market prices indicator released by wfp.
price = pd.read_csv(PATH_TO_DATA_FOLDER + "5. Market Prices/output_timeseries/%s/wfp_relevant_market_price-SvyWindow-day.csv" % COUNTRY, header = [0, 1], index_col = 0)
price.index.name = "Datetime"
price.index = pd.to_datetime(price.index)
freq = "D"
price.index.freq = freq

In [24]:
price

AdminStrata         Abyan                                   Aden  \
Food Group  Exchange rate Price cereals and tubers Exchange rate
Datetime
2018-07-02       0.114695                 0.139382      0.110005
2018-07-03       0.115521                 0.139382      0.110659
...                   ...                      ...           ...
2021-01-30            NaN                      NaN           NaN
2021-01-31            NaN                      NaN           NaN

AdminStrata                               Al Bayda                           \
Food Group  Price cereals and tubers Exchange rate Price cereals and tubers
Datetime
2018-07-02                  0.064396      0.103226                 0.116957
2018-07-03                  0.064615      0.104114                 0.116866
...                              ...           ...                      ...
2021-01-30                       NaN           NaN                      NaN
2021-01-31                       NaN           NaN                      NaN

AdminStrata    Al Dhale'e                            Al Hudaydah  \
Food Group  Exchange rate Price cereals and tubers Exchange rate
Datetime
2018-07-02       0.110425                 0.115331      0.100234
2018-07-03       0.111049                 0.115331      0.101075
...                   ...                      ...           ...
2021-01-30            NaN                      NaN           NaN
2021-01-31            NaN                      NaN           NaN

AdminStrata                           ...        Raymah  \
Food Group  Price cereals and tubers  ... Exchange rate
Datetime                              ...
2018-07-02                  0.177692  ...      0.086925
2018-07-03                  0.180415  ...      0.087876
...                              ...  ...           ...
2021-01-30                       NaN  ...           NaN
2021-01-31                       NaN  ...           NaN

AdminStrata                                 Sa'ada                           \
Food Group  Price cereals and tubers Exchange rate Price cereals and tubers
Datetime
2018-07-02                  0.112843      0.101823                 0.123031
2018-07-03                  0.112684      0.102493                 0.123700
...                              ...           ...                      ...
2021-01-30                       NaN           NaN                      NaN
2021-01-31                       NaN           NaN                      NaN

AdminStrata        Sana'a                                Shabwah  \
Food Group  Exchange rate Price cereals and tubers Exchange rate
Datetime
2018-07-02       0.100732                 0.111853      0.105423
2018-07-03       0.101340                 0.111932      0.106202
...                   ...                      ...           ...
2021-01-30            NaN                      NaN           NaN
2021-01-31            NaN                      NaN           NaN

AdminStrata                                  Taizz
Food Group  Price cereals and tubers Exchange rate Price cereals and tubers
Datetime
2018-07-02                  0.132541      0.103802                 0.178630
2018-07-03                  0.132620      0.104737                 0.178611
...                              ...           ...                      ...
2021-01-30                       NaN           NaN                      NaN
2021-01-31                       NaN           NaN                      NaN

[945 rows x 42 columns]

    - Coordinates:

In [25]:
# Load the data of coordination.
coordinates = pd.read_csv(PATH_TO_DATA_FOLDER + "9. Coordinates/output_timeseries/%s/wfp_coordinates.csv" % COUNTRY, header = [0, 1], index_col = 0)
coordinates.index.name = "Datetime"
coordinates.index = pd.to_datetime(coordinates.index)
freq = "D"
coordinates.index.freq = freq

In [26]:
coordinates

AdminStrata      Abyan                  Aden             Al Bayda             \
Indicator          Lat        Lon        Lat       Lon        Lat        Lon
Datetime
2018-01-01   13.704878  46.158142  12.835529  44.80032  14.320239  45.336603
2018-01-02   13.704878  46.158142  12.835529  44.80032  14.320239  45.336603
...                ...        ...        ...       ...        ...        ...
2021-12-31   13.704878  46.158142  12.835529  44.80032  14.320239  45.336603
2022-01-01   13.704878  46.158142  12.835529  44.80032  14.320239  45.336603

AdminStrata Al Dhale'e            Al Hudaydah             ...     Sa'ada  \
Indicator          Lat        Lon         Lat        Lon  ...        Lat
Datetime                                                  ...
2018-01-01   13.896385  44.760434    14.83052  43.167047  ...  17.089972
2018-01-02   13.896385  44.760434    14.83052  43.167047  ...  17.089972
...                ...        ...         ...        ...  ...        ...
2021-12-31   13.896385  44.760434    14.83052  43.167047  ...  17.089972
2022-01-01   13.896385  44.760434    14.83052  43.167047  ...  17.089972

AdminStrata                Sana'a               Shabwah               Socotra  \
Indicator          Lon        Lat        Lon        Lat        Lon        Lat
Datetime
2018-01-01   43.920084  15.334488  44.347569  14.762417  46.923133  12.488974
2018-01-02   43.920084  15.334488  44.347569  14.762417  46.923133  12.488974
...                ...        ...        ...        ...        ...        ...
2021-12-31   43.920084  15.334488  44.347569  14.762417  46.923133  12.488974
2022-01-01   43.920084  15.334488  44.347569  14.762417  46.923133  12.488974

AdminStrata                 Taizz
Indicator          Lon        Lat        Lon
Datetime
2018-01-01   53.805239  13.416517  43.778161
2018-01-02   53.805239  13.416517  43.778161
...                ...        ...        ...
2021-12-31   53.805239  13.416517  43.778161
2022-01-01   53.805239  13.416517  43.778161

[1462 rows x 44 columns]

In [27]:
# Create the full dataset.
df = pd.concat([fcs, rcsi, rainfall, conflict, NDVI, population, ramadan, admin_code, price, coordinates], axis = 1, levels = 0).sort_index(axis = 1, level = [0, 1]).dropna()

In [28]:
PROVINCES = df.columns.get_level_values(0).unique()
PROVINCES

Index(['Abyan', 'Aden', 'Al Bayda', 'Al Dhale'e', 'Al Hudaydah', 'Al Jawf',
       'Al Maharah', 'Al Mahwit', 'Amanat Al Asimah', 'Amran', 'Dhamar',
       'Hadramaut', 'Hajjah', 'Ibb', 'Lahj', 'Marib', 'Raymah', 'Sa'ada',
       'Sana'a', 'Shabwah', 'Socotra', 'Taizz'],
      dtype='object', name='AdminStrata')

In [29]:
PREDICTORS = df.columns.get_level_values(1).unique()
PREDICTORS

Index(['1 Month Anomaly Rainfalls (%)', '3 Months Anomaly Rainfalls (%)',
       'Code', 'Exchange rate', 'FCG', 'Fatalities', 'Lat', 'Lon', 'NDVI',
       'NDVI Anomaly', 'Population', 'Price cereals and tubers',
       'Rainfalls (mm)', 'Ramadan', 'rCSI'],
      dtype='object', name='Indicator')

In [30]:
for PROVINCE in PROVINCES:
    print(PROVINCE)
    print(df[PROVINCE].columns)

Abyan
Index(['1 Month Anomaly Rainfalls (%)', '3 Months Anomaly Rainfalls (%)',
       'Code', 'Exchange rate', 'FCG', 'Fatalities', 'Lat', 'Lon', 'NDVI',
       'NDVI Anomaly', 'Population', 'Price cereals and tubers',
       'Rainfalls (mm)', 'Ramadan', 'rCSI'],
      dtype='object', name='Indicator')
Aden
Index(['1 Month Anomaly Rainfalls (%)', '3 Months Anomaly Rainfalls (%)',
       'Code', 'Exchange rate', 'FCG', 'Fatalities', 'Lat', 'Lon', 'NDVI',
       'NDVI Anomaly', 'Population', 'Price cereals and tubers',
       'Rainfalls (mm)', 'Ramadan', 'rCSI'],
      dtype='object', name='Indicator')
Al Bayda
Index(['1 Month Anomaly Rainfalls (%)', '3 Months Anomaly Rainfalls (%)',
       'Code', 'Exchange rate', 'FCG', 'Fatalities', 'Lat', 'Lon', 'NDVI',
       'NDVI Anomaly', 'Population', 'Price cereals and tubers',
       'Rainfalls (mm)', 'Ramadan', 'rCSI'],
      dtype='object', name='Indicator')
Al Dhale'e
Index(['1 Month Anomaly Rainfalls (%)', '3 Months Anomaly Rainfalls (%)',
       'Code', 'Exchange rate', 'FCG', 'Fatalities', 'Lat', 'Lon', 'NDVI',
       'NDVI Anomaly', 'Population', 'Price cereals and tubers',
       'Rainfalls (mm)', 'Ramadan', 'rCSI'],
      dtype='object', name='Indicator')
Al Hudaydah
Index(['1 Month Anomaly Rainfalls (%)', '3 Months Anomaly Rainfalls (%)',
       'Code', 'Exchange rate', 'FCG', 'Fatalities', 'Lat', 'Lon', 'NDVI',
       'NDVI Anomaly', 'Population', 'Price cereals and tubers',
       'Rainfalls (mm)', 'Ramadan', 'rCSI'],
      dtype='object', name='Indicator')
Al Jawf
Index(['1 Month Anomaly Rainfalls (%)', '3 Months Anomaly Rainfalls (%)',
       'Code', 'Exchange rate', 'FCG', 'Fatalities', 'Lat', 'Lon', 'NDVI',
       'NDVI Anomaly', 'Population', 'Price cereals and tubers',
       'Rainfalls (mm)', 'Ramadan', 'rCSI'],
      dtype='object', name='Indicator')
Al Maharah
Index(['1 Month Anomaly Rainfalls (%)', '3 Months Anomaly Rainfalls (%)',
       'Code', 'Exchange rate', 'FCG', 'Fatalities', 'Lat', 'Lon', 'NDVI',
       'NDVI Anomaly', 'Population', 'Price cereals and tubers',
       'Rainfalls (mm)', 'Ramadan', 'rCSI'],
      dtype='object', name='Indicator')
Al Mahwit
Index(['1 Month Anomaly Rainfalls (%)', '3 Months Anomaly Rainfalls (%)',
       'Code', 'Exchange rate', 'FCG', 'Fatalities', 'Lat', 'Lon', 'NDVI',
       'NDVI Anomaly', 'Population', 'Price cereals and tubers',
       'Rainfalls (mm)', 'Ramadan', 'rCSI'],
      dtype='object', name='Indicator')
Amanat Al Asimah
Index(['1 Month Anomaly Rainfalls (%)', '3 Months Anomaly Rainfalls (%)',
       'Code', 'Exchange rate', 'FCG', 'Fatalities', 'Lat', 'Lon', 'NDVI',
       'NDVI Anomaly', 'Population', 'Price cereals and tubers',
       'Rainfalls (mm)', 'Ramadan', 'rCSI'],
      dtype='object', name='Indicator')
Amran
Index(['1 Month Anomaly Rainfalls (%)', '3 Months Anomaly Rainfalls (%)',
       'Code', 'Exchange rate', 'FCG', 'Fatalities', 'Lat', 'Lon', 'NDVI',
       'NDVI Anomaly', 'Population', 'Price cereals and tubers',
       'Rainfalls (mm)', 'Ramadan', 'rCSI'],
      dtype='object', name='Indicator')
Dhamar
Index(['1 Month Anomaly Rainfalls (%)', '3 Months Anomaly Rainfalls (%)',
       'Code', 'Exchange rate', 'FCG', 'Fatalities', 'Lat', 'Lon', 'NDVI',
       'NDVI Anomaly', 'Population', 'Price cereals and tubers',
       'Rainfalls (mm)', 'Ramadan', 'rCSI'],
      dtype='object', name='Indicator')
Hadramaut
Index(['1 Month Anomaly Rainfalls (%)', '3 Months Anomaly Rainfalls (%)',
       'Code', 'Exchange rate', 'FCG', 'Fatalities', 'Lat', 'Lon', 'NDVI',
       'NDVI Anomaly', 'Population', 'Price cereals and tubers',
       'Rainfalls (mm)', 'Ramadan', 'rCSI'],
      dtype='object', name='Indicator')
Hajjah
Index(['1 Month Anomaly Rainfalls (%)', '3 Months Anomaly Rainfalls (%)',
       'Code', 'Exchange rate', 'FCG', 'Fatalities', 'Lat', 'Lon', 'NDVI',
       'NDVI Anomaly', 'Population', 'Price cereals and tubers',
       'Rainfalls (mm)', 'Ramadan', 'rCSI'],
      dtype='object', name='Indicator')
Ibb
Index(['1 Month Anomaly Rainfalls (%)', '3 Months Anomaly Rainfalls (%)',
       'Code', 'Exchange rate', 'FCG', 'Fatalities', 'Lat', 'Lon', 'NDVI',
       'NDVI Anomaly', 'Population', 'Price cereals and tubers',
       'Rainfalls (mm)', 'Ramadan', 'rCSI'],
      dtype='object', name='Indicator')
Lahj
Index(['1 Month Anomaly Rainfalls (%)', '3 Months Anomaly Rainfalls (%)',
       'Code', 'Exchange rate', 'FCG', 'Fatalities', 'Lat', 'Lon', 'NDVI',
       'NDVI Anomaly', 'Population', 'Price cereals and tubers',
       'Rainfalls (mm)', 'Ramadan', 'rCSI'],
      dtype='object', name='Indicator')
Marib
Index(['1 Month Anomaly Rainfalls (%)', '3 Months Anomaly Rainfalls (%)',
       'Code', 'Exchange rate', 'FCG', 'Fatalities', 'Lat', 'Lon', 'NDVI',
       'NDVI Anomaly', 'Population', 'Price cereals and tubers',
       'Rainfalls (mm)', 'Ramadan', 'rCSI'],
      dtype='object', name='Indicator')
Raymah
Index(['1 Month Anomaly Rainfalls (%)', '3 Months Anomaly Rainfalls (%)',
       'Code', 'Exchange rate', 'FCG', 'Fatalities', 'Lat', 'Lon', 'NDVI',
       'NDVI Anomaly', 'Population', 'Price cereals and tubers',
       'Rainfalls (mm)', 'Ramadan', 'rCSI'],
      dtype='object', name='Indicator')
Sa'ada
Index(['1 Month Anomaly Rainfalls (%)', '3 Months Anomaly Rainfalls (%)',
       'Code', 'Exchange rate', 'FCG', 'Fatalities', 'Lat', 'Lon', 'NDVI',
       'NDVI Anomaly', 'Population', 'Price cereals and tubers',
       'Rainfalls (mm)', 'Ramadan', 'rCSI'],
      dtype='object', name='Indicator')
Sana'a
Index(['1 Month Anomaly Rainfalls (%)', '3 Months Anomaly Rainfalls (%)',
       'Code', 'Exchange rate', 'FCG', 'Fatalities', 'Lat', 'Lon', 'NDVI',
       'NDVI Anomaly', 'Population', 'Price cereals and tubers',
       'Rainfalls (mm)', 'Ramadan', 'rCSI'],
      dtype='object', name='Indicator')
Shabwah
Index(['1 Month Anomaly Rainfalls (%)', '3 Months Anomaly Rainfalls (%)',
       'Code', 'Exchange rate', 'FCG', 'Fatalities', 'Lat', 'Lon', 'NDVI',
       'NDVI Anomaly', 'Population', 'Price cereals and tubers',
       'Rainfalls (mm)', 'Ramadan', 'rCSI'],
      dtype='object', name='Indicator')
Socotra
Index(['1 Month Anomaly Rainfalls (%)', '3 Months Anomaly Rainfalls (%)',
       'Code', 'FCG', 'Fatalities', 'Lat', 'Lon', 'NDVI', 'NDVI Anomaly',
       'Population', 'Rainfalls (mm)', 'Ramadan', 'rCSI'],
      dtype='object', name='Indicator')
Taizz
Index(['1 Month Anomaly Rainfalls (%)', '3 Months Anomaly Rainfalls (%)',
       'Code', 'Exchange rate', 'FCG', 'Fatalities', 'Lat', 'Lon', 'NDVI',
       'NDVI Anomaly', 'Population', 'Price cereals and tubers',
       'Rainfalls (mm)', 'Ramadan', 'rCSI'],
      dtype='object', name='Indicator')

In [31]:
# For now, we decide to delete the Socotra and Hadramaut provinces due to FCG <= 2 and rCSI >= 19 ambiguous behaviour.
df.drop(["Hadramaut", "Socotra"], axis = 1, level = 0, inplace = True)

In [32]:
# Plot time-series.
TsIP(df).interactive_plot_df(title = "Time-series", matplotlib = False, style = "lines", comparison = False, first_last_valid_index_group = True)

interactive(children=(ToggleButtons(description='AdminStrata', options=('Abyan', 'Aden', 'Al Bayda', "Al Dhaleâ€¦

In [33]:
# Save the datasets.
df.to_csv(PATH_TO_SAVE + "Yemen-day.csv", index_label = False)