In [1]:
import pandas as pd
import numpy as np

In [2]:
pd.options.display.max_rows = 4

In [3]:
# Add the python path to the folder containing some useful custom packages.
import sys
sys.path.insert(0, "../packages/")
from TsIP.TsIP import TsIP

# Syria

I create the dataset of multivariate time-series for the Syria country.

In [4]:
PATH_TO_SAVE = "./data/Syria/"

## Data sources

For more details regarding each single data source see the folder *Data Sources*.

In [5]:
PATH_TO_DATA_FOLDER = "../Data Sources/"

    - Food Consumption Score:

In [6]:
# Load the data of the fcs indicator released by wfp.
fcs = pd.read_csv(PATH_TO_DATA_FOLDER + "Food Consumption Score (FCS)/output_timeseries/Syria/wfp_fcs-interpolate.csv", header = [0, 1], index_col = 0)
fcs.index.name = "Datetime"
fcs.index = pd.to_datetime(fcs.index)
freq = "D"
fcs.index.freq = freq

In [7]:
fcs

AdminStrata,Al-Hasakeh,Aleppo,Ar-Raqqa,As-Sweida,Damascus,Dar'a,Deir-ez-Zor,Hama,Homs,Lattakia,Rural Damascus,Tartous
Indicator,FCS,FCS,FCS,FCS,FCS,FCS,FCS,FCS,FCS,FCS,FCS,FCS
Datetime,,,,,,,,,,,,
2018-08-31,35.85483,26.293100,NaN,10.31519,13.68855,36.155200,NaN,18.111502,19.622450,19.30116,24.935821,20.38462
2018-09-01,35.85483,26.960300,NaN,8.90208,13.81051,36.155200,NaN,17.727133,19.133940,19.30116,24.850930,20.78431
...,...,...,...,...,...,...,...,...,...,...,...,...
2020-09-03,48.09989,54.426185,50.804627,31.78649,38.46569,37.159308,54.10318,54.056975,56.634307,54.15749,57.592443,45.82597
2020-09-04,47.02155,56.969995,50.736724,31.22003,39.54686,37.556022,55.05072,53.480056,56.411044,54.81184,57.723067,44.51177

    - Reduced Coping Strategy Index

In [8]:
# Load the the data of the rcsi indicator released by wfp.
rcsi = pd.read_csv(PATH_TO_DATA_FOLDER + "Reduced Coping Strategy Index (rCSI)/output_timeseries/Syria/wfp_rcsi-interpolate.csv", header = [0, 1], index_col = 0)
rcsi.index.name = "Datetime"
rcsi.index = pd.to_datetime(rcsi.index)
freq = "D"
rcsi.index.freq = freq

In [9]:
rcsi

AdminStrata,Al-Hasakeh,Aleppo,Ar-Raqqa,As-Sweida,Damascus,Dar'a,Deir-ez-Zor,Hama,Homs,Lattakia,Rural Damascus,Tartous
Indicator,rCSI,rCSI,rCSI,rCSI,rCSI,rCSI,rCSI,rCSI,rCSI,rCSI,rCSI,rCSI
Datetime,,,,,,,,,,,,
2018-08-31,36.77307,21.619070,NaN,27.22063,25.02208,47.619050,NaN,25.768519,25.832090,30.51581,27.653400,25.96154
2018-09-01,36.77307,22.513680,NaN,26.40950,25.24503,47.619050,NaN,26.044842,26.183280,30.51581,27.700016,26.47059
...,...,...,...,...,...,...,...,...,...,...,...,...
2020-09-03,50.27144,37.747351,46.669682,41.09161,36.54781,44.722614,49.249992,34.969581,39.216674,45.53965,41.412719,43.88251
2020-09-04,52.59823,36.886683,45.068797,37.53330,36.35427,43.335860,47.275822,36.555592,41.236490,45.46576,42.630379,42.46096

    - Rainfall:

In [10]:
# Load the data of rainfall indicator released by wfp.
rainfall = pd.read_csv(PATH_TO_DATA_FOLDER + "Rainfall & Vegetation/output_timeseries/Syria/wfp_rainfall-dekad.csv", header = [0, 1], index_col = 0)
rainfall.index.name = "Datetime"
rainfall.index = pd.to_datetime(rainfall.index)
freq = "D"
rainfall.index.freq = freq

In [11]:
rainfall

AdminStrata                   Al-Hasakeh                                \
Indicator   1 Month Anomaly (%) Rainfall 3 Months Anomaly (%) Rainfall
Datetime
2016-01-10                    147.595709                    122.820521
2016-01-11                           NaN                           NaN
...                                  ...                           ...
2020-08-30                           NaN                           NaN
2020-08-31                    100.000000                     97.501211

AdminStrata                                     Aleppo  \
Indicator   Rainfall (mm) 1 Month Anomaly (%) Rainfall
Datetime
2016-01-10         58.118                    87.086771
2016-01-11            NaN                          NaN
...                   ...                          ...
2020-08-30            NaN                          NaN
2020-08-31          0.000                   100.339321

AdminStrata                                              \
Indicator   3 Months Anomaly (%) Rainfall Rainfall (mm)
Datetime
2016-01-10                      78.537081        27.628
2016-01-11                            NaN           NaN
...                                   ...           ...
2020-08-30                            NaN           NaN
2020-08-31                     102.673797         0.046

AdminStrata                     Ar-Raqqa                                \
Indicator   1 Month Anomaly (%) Rainfall 3 Months Anomaly (%) Rainfall
Datetime
2016-01-10                    118.257022                    104.417560
2016-01-11                           NaN                           NaN
...                                  ...                           ...
2020-08-30                           NaN                           NaN
2020-08-31                    100.000000                    100.481232

AdminStrata                                  As-Sweida  ...      Lattakia  \
Indicator   Rainfall (mm) 1 Month Anomaly (%) Rainfall  ... Rainfall (mm)
Datetime                                                ...
2016-01-10           22.6                   111.980289  ...        82.970
2016-01-11            NaN                          NaN  ...           NaN
...                   ...                          ...  ...           ...
2020-08-30            NaN                          NaN  ...           NaN
2020-08-31            0.0                   100.000000  ...         0.444

AdminStrata                     Quneitra                                \
Indicator   1 Month Anomaly (%) Rainfall 3 Months Anomaly (%) Rainfall
Datetime
2016-01-10                     95.901601                     81.163761
2016-01-11                           NaN                           NaN
...                                  ...                           ...
2020-08-30                           NaN                           NaN
2020-08-31                    100.000000                    100.298151

AdminStrata                             Rural Damascus  \
Indicator   Rainfall (mm) 1 Month Anomaly (%) Rainfall
Datetime
2016-01-10         82.923                   106.384096
2016-01-11            NaN                          NaN
...                   ...                          ...
2020-08-30            NaN                          NaN
2020-08-31          0.000                   100.000000

AdminStrata                                              \
Indicator   3 Months Anomaly (%) Rainfall Rainfall (mm)
Datetime
2016-01-10                       109.2311        12.795
2016-01-11                            NaN           NaN
...                                   ...           ...
2020-08-30                            NaN           NaN
2020-08-31                       100.0600         0.000

AdminStrata                      Tartous                                \
Indicator   1 Month Anomaly (%) Rainfall 3 Months Anomaly (%) Rainfall
Datetime
2016-01-10                     94.313771                     80.121073
2016-01-11                           NaN                           NaN
...                                  ...                           ...
2020-08-30                           NaN                           NaN
2020-08-31                    101.636580                    114.869354

AdminStrata
Indicator   Rainfall (mm)
Datetime
2016-01-10         95.671
2016-01-11            NaN
...                   ...
2020-08-30            NaN
2020-08-31          0.247

[1696 rows x 39 columns]

    - NDVI:

In [12]:
# Load the data of vegetation indicator released by wfp.
NDVI = pd.read_csv(PATH_TO_DATA_FOLDER + "Rainfall & Vegetation/output_timeseries/Syria/wfp_NDVI-dekad.csv", header = [0, 1], index_col = 0)
NDVI.index.name = "Datetime"
NDVI.index = pd.to_datetime(NDVI.index)
freq = "D"
NDVI.index.freq = freq

In [13]:
NDVI

AdminStrata Al-Hasakeh                 Aleppo               Ar-Raqqa  \
Indicator         NDVI NDVI Anomaly      NDVI NDVI Anomaly      NDVI
Datetime
2016-01-10    0.164502    97.923559  0.262031   110.456281  0.177633
2016-01-11         NaN          NaN       NaN          NaN       NaN
...                ...          ...       ...          ...       ...
2020-08-30         NaN          NaN       NaN          NaN       NaN
2020-08-31    0.147244   105.311545  0.164496   102.009455  0.147608

AdminStrata              As-Sweida              Damascus               ...  \
Indicator   NDVI Anomaly      NDVI NDVI Anomaly     NDVI NDVI Anomaly  ...
Datetime                                                               ...
2016-01-10    112.687595  0.150486    99.708413  0.18816   101.413728  ...
2016-01-11           NaN       NaN          NaN      NaN          NaN  ...
...                  ...       ...          ...      ...          ...  ...
2020-08-30           NaN       NaN          NaN      NaN          NaN  ...
2020-08-31    110.052485  0.144754   112.000801  0.17886   102.839939  ...

AdminStrata      Homs               Lattakia               Quneitra  \
Indicator        NDVI NDVI Anomaly      NDVI NDVI Anomaly      NDVI
Datetime
2016-01-10   0.143773   100.967532  0.530859   100.905170  0.428830
2016-01-11        NaN          NaN       NaN          NaN       NaN
...               ...          ...       ...          ...       ...
2020-08-30        NaN          NaN       NaN          NaN       NaN
2020-08-31   0.125910   107.764421  0.516089   111.485803  0.270506

AdminStrata              Rural Damascus                Tartous
Indicator   NDVI Anomaly           NDVI NDVI Anomaly      NDVI NDVI Anomaly
Datetime
2016-01-10     96.351218       0.134160   103.134039  0.495291   100.743683
2016-01-11           NaN            NaN          NaN       NaN          NaN
...                  ...            ...          ...       ...          ...
2020-08-30           NaN            NaN          NaN       NaN          NaN
2020-08-31    109.449865       0.127084   107.465234  0.458067   116.347479

[1696 rows x 26 columns]

    - Conflict:

In [14]:
# Load the data of conflicts indicator released by ACLED.
conflict = pd.read_csv(PATH_TO_DATA_FOLDER + "Conflicts/output_timeseries/Syria/wfp_conflicts_sum_event.csv", header = [0, 1], index_col = 0)
conflict.index.name = "Datetime"
conflict.index = pd.to_datetime(conflict.index)
freq = "D"
conflict.index.freq = freq

In [15]:
conflict

AdminStrata,Al-Hasakeh,Aleppo,Ar-Raqqa,As-Sweida,Damascus,Dar'a,Deir-ez-Zor,Hama,Homs,Idleb,Lattakia,Quneitra,Rural Damascus,Tartous
Indicator,Fatality,Fatality,Fatality,Fatality,Fatality,Fatality,Fatality,Fatality,Fatality,Fatality,Fatality,Fatality,Fatality,Fatality
Datetime,,,,,,,,,,,,,,
2018-01-01,0.0,4.0,2.0,0.0,0.0,3.0,40.0,10.0,5.0,8.0,0.0,0.0,70.0,0.0
2018-01-02,11.0,1.0,1.0,0.0,0.0,0.0,29.0,3.0,12.0,48.0,0.0,0.0,21.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2020-09-04,0.0,10.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,12.0,0.0,0.0,0.0,0.0
2020-09-05,0.0,2.0,10.0,0.0,0.0,0.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

    - Market price:

In [16]:
# Load the data of market prices indicator released by wfp.
price = pd.read_csv(PATH_TO_DATA_FOLDER + "Market Prices/output_timeseries/Syria/wfp_relevant_market_price-interpolate-common-food_group-month.csv", header = [0, 1], index_col = 0)
price.index.name = "Datetime"
price.index = pd.to_datetime(price.index)
freq = "D"
price.index.freq = freq

In [17]:
price

AdminStrata         Al-Hasakeh                                              \
Food Group  Cereals and tubers Exchange rate      Fuel Meat, fish and eggs
Datetime
2018-07-31            0.080154      0.010417  0.018486            0.041190
2018-08-01                 NaN           NaN       NaN                 NaN
...                        ...           ...       ...                 ...
2020-08-30                 NaN           NaN       NaN                 NaN
2020-08-31            0.429319      0.786458  0.019123            0.755878

AdminStrata                                                                 \
Food Group  Milk and dairy Miscellaneous food Oil and fats Pulses and nuts
Datetime
2018-07-31        0.129198           0.057356     0.000000        0.061298
2018-08-01             NaN                NaN          NaN             NaN
...                    ...                ...          ...             ...
2020-08-30             NaN                NaN          NaN             NaN
2020-08-31        0.561196           0.591478     0.603577        0.767906

AdminStrata                                  ...            Tartous  \
Food Group  Vegetables and fruits      Wage  ... Cereals and tubers
Datetime                                     ...
2018-07-31               0.165958  0.000066  ...           0.063339
2018-08-01                    NaN       NaN  ...                NaN
...                           ...       ...  ...                ...
2020-08-30                    NaN       NaN  ...                NaN
2020-08-31               0.436522  0.726627  ...           0.447358

AdminStrata                                                             \
Food Group  Exchange rate      Fuel Meat, fish and eggs Milk and dairy
Datetime
2018-07-31       0.012547  0.153142            0.102147       0.129225
2018-08-01            NaN       NaN                 NaN            NaN
...                   ...       ...                 ...            ...
2020-08-30            NaN       NaN                 NaN            NaN
2020-08-31       0.829072  0.136482            0.806695       0.811513

AdminStrata                                                  \
Food Group  Miscellaneous food Oil and fats Pulses and nuts
Datetime
2018-07-31            0.015063     0.058537        0.149206
2018-08-01                 NaN          NaN             NaN
...                        ...          ...             ...
2020-08-30                 NaN          NaN             NaN
2020-08-31            0.414372     0.796098        0.751934

AdminStrata
Food Group  Vegetables and fruits      Wage
Datetime
2018-07-31               0.134216  0.414981
2018-08-01                    NaN       NaN
...                           ...       ...
2020-08-30                    NaN       NaN
2020-08-31               0.538261  0.857846

[763 rows x 120 columns]

    - Population:

In [18]:
# Load the data of population released by wfp.
population = pd.read_csv(PATH_TO_DATA_FOLDER + "Population/output_timeseries/Syria/wfp_population.csv", header = [0, 1], index_col = 0)
population.index.name = "Datetime"
population.index = pd.to_datetime(population.index)
freq = "D"
population.index.freq = freq

In [19]:
population

AdminStrata,Tartous,Rural Damascus,Quneitra,Lattakia,Idleb,Homs,Deir-ez-Zor,Dar'a,Damascus,As-Sweida,Ar-Raqqa,Al-Hasakeh,Aleppo,Hama
Indicator,Population,Population,Population,Population,Population,Population,Population,Population,Population,Population,Population,Population,Population,Population
Datetime,,,,,,,,,,,,,,
2017-01-01,831296,3248273,106182,1189195,2432697,1484772,704983,1005994,1852561,371994,686353,1033316,3879934,1572451
2017-01-02,831296,3248273,106182,1189195,2432697,1484772,704983,1005994,1852561,371994,686353,1033316,3879934,1572451
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2020-12-31,831296,3248273,106182,1189195,2432697,1484772,704983,1005994,1852561,371994,686353,1033316,3879934,1572451
2021-01-01,831296,3248273,106182,1189195,2432697,1484772,704983,1005994,1852561,371994,686353,1033316,3879934,1572451

    - Coordinates:

In [20]:
# Load the data of coordination.
coordinates = pd.read_csv(PATH_TO_DATA_FOLDER + "Coordinates/output_timeseries/Syria/wfp_coordinates.csv", header = [0, 1], index_col = 0)
coordinates.index.name = "Datetime"
coordinates.index = pd.to_datetime(coordinates.index)
freq = "D"
coordinates.index.freq = freq

In [21]:
coordinates

AdminStrata Al-Hasakeh                Aleppo            Ar-Raqqa             \
Indicator          Lat        Lon        Lat       Lon       Lat        Lon
Datetime
2017-01-01   36.491475  40.907354  36.218085  37.64271  36.01153  38.994679
2017-01-02   36.491475  40.907354  36.218085  37.64271  36.01153  38.994679
...                ...        ...        ...       ...       ...        ...
2020-12-31   36.491475  40.907354  36.218085  37.64271  36.01153  38.994679
2021-01-01   36.491475  40.907354  36.218085  37.64271  36.01153  38.994679

AdminStrata As-Sweida              Damascus            ...      Idleb  \
Indicator         Lat        Lon        Lat       Lon  ...        Lat
Datetime                                               ...
2017-01-01   32.74857  36.846754  33.515687  36.27808  ...  35.785113
2017-01-02   32.74857  36.846754  33.515687  36.27808  ...  35.785113
...               ...        ...        ...       ...  ...        ...
2020-12-31   32.74857  36.846754  33.515687  36.27808  ...  35.785113
2021-01-01   32.74857  36.846754  33.515687  36.27808  ...  35.785113

AdminStrata              Lattakia             Quneitra             \
Indicator          Lon        Lat        Lon       Lat        Lon
Datetime
2017-01-01   36.682283  35.575297  36.026513  33.04424  35.792863
2017-01-02   36.682283  35.575297  36.026513  33.04424  35.792863
...                ...        ...        ...       ...        ...
2020-12-31   36.682283  35.575297  36.026513  33.04424  35.792863
2021-01-01   36.682283  35.575297  36.026513  33.04424  35.792863

AdminStrata Rural Damascus               Tartous
Indicator              Lat        Lon        Lat        Lon
Datetime
2017-01-01       33.492022  37.391556  34.959426  36.077933
2017-01-02       33.492022  37.391556  34.959426  36.077933
...                    ...        ...        ...        ...
2020-12-31       33.492022  37.391556  34.959426  36.077933
2021-01-01       33.492022  37.391556  34.959426  36.077933

[1462 rows x 28 columns]

    - Ramadan:

In [22]:
# Load the data of ramadan.
ramadan = pd.read_csv(PATH_TO_DATA_FOLDER + "Ramadan/output_timeseries/Syria/wfp_ramadan_SvyWindow.csv", header = [0, 1], index_col = 0)
ramadan.index.name = "Datetime"
ramadan.index = pd.to_datetime(ramadan.index)
freq = "D"
ramadan.index.freq = freq

In [23]:
ramadan

AdminStrata,Al-Hasakeh,Aleppo,Ar-Raqqa,As-Sweida,Damascus,Dar'a,Deir-ez-Zor,Hama,Homs,Lattakia,Quneitra,Rural Damascus,Tartous
Indicator,Ramadan,Ramadan,Ramadan,Ramadan,Ramadan,Ramadan,Ramadan,Ramadan,Ramadan,Ramadan,Ramadan,Ramadan,Ramadan
Datetime,,,,,,,,,,,,,
2018-08-31,0.0,0.0,NaN,0.0,0.0,0.0,NaN,0.0,0.0,0.0,NaN,0.0,0.0
2018-09-01,0.0,0.0,NaN,0.0,0.0,0.0,NaN,0.0,0.0,0.0,NaN,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2020-09-03,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2020-09-04,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

    - Adminstrata Codes:

In [24]:
# Load the data of ramadan.
admin_code = pd.read_csv(PATH_TO_DATA_FOLDER + "Adminstrata Code/output_timeseries/Syria/wfp_adminstrata_code.csv", header = [0, 1], index_col = 0)
admin_code.index.name = "Datetime"
admin_code.index = pd.to_datetime(admin_code.index)
freq = "D"
admin_code.index.freq = freq

In [25]:
admin_code

AdminStrata,Damascus,Aleppo,Rural Damascus,Homs,Hama,Lattakia,Idleb,Al-Hasakeh,Deir-ez-Zor,Tartous,Ar-Raqqa,Dar'a,As-Sweida,Quneitra
Indicator,Code,Code,Code,Code,Code,Code,Code,Code,Code,Code,Code,Code,Code,Code
Datetime,,,,,,,,,,,,,,
2017-01-01,50,51,52,53,54,55,56,57,58,59,60,61,62,63
2017-01-02,50,51,52,53,54,55,56,57,58,59,60,61,62,63
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2020-12-31,50,51,52,53,54,55,56,57,58,59,60,61,62,63
2021-01-01,50,51,52,53,54,55,56,57,58,59,60,61,62,63

In [26]:
# Create the full dataset.
df = pd.concat([fcs, rcsi, rainfall, conflict, NDVI, price, population, coordinates, ramadan, admin_code], axis = 1, levels = 0).sort_index(axis = 1)

In [27]:
PROVINCES = df.columns.get_level_values(0).unique()
PROVINCES

Index(['Al-Hasakeh', 'Aleppo', 'Ar-Raqqa', 'As-Sweida', 'Damascus', 'Dar'a',
       'Deir-ez-Zor', 'Hama', 'Homs', 'Idleb', 'Lattakia', 'Quneitra',
       'Rural Damascus', 'Tartous'],
      dtype='object', name='AdminStrata')

In [28]:
PREDICTORS = df.columns.get_level_values(1).unique()
PREDICTORS

Index(['1 Month Anomaly (%) Rainfall', '3 Months Anomaly (%) Rainfall',
       'Cereals and tubers', 'Code', 'Exchange rate', 'FCS', 'Fatality',
       'Fuel', 'Lat', 'Lon', 'Meat, fish and eggs', 'Milk and dairy',
       'Miscellaneous food', 'NDVI', 'NDVI Anomaly', 'Oil and fats',
       'Population', 'Pulses and nuts', 'Rainfall (mm)', 'Ramadan',
       'Vegetables and fruits', 'Wage', 'rCSI'],
      dtype='object', name='Indicator')

In [29]:
for PROVINCE in PROVINCES:
    print(PROVINCE)
    print(df[PROVINCE].columns)

Al-Hasakeh
Index(['1 Month Anomaly (%) Rainfall', '3 Months Anomaly (%) Rainfall',
       'Cereals and tubers', 'Code', 'Exchange rate', 'FCS', 'Fatality',
       'Fuel', 'Lat', 'Lon', 'Meat, fish and eggs', 'Milk and dairy',
       'Miscellaneous food', 'NDVI', 'NDVI Anomaly', 'Oil and fats',
       'Population', 'Pulses and nuts', 'Rainfall (mm)', 'Ramadan',
       'Vegetables and fruits', 'Wage', 'rCSI'],
      dtype='object', name='Indicator')
Aleppo
Index(['1 Month Anomaly (%) Rainfall', '3 Months Anomaly (%) Rainfall',
       'Cereals and tubers', 'Code', 'Exchange rate', 'FCS', 'Fatality',
       'Fuel', 'Lat', 'Lon', 'Meat, fish and eggs', 'Milk and dairy',
       'Miscellaneous food', 'NDVI', 'NDVI Anomaly', 'Oil and fats',
       'Population', 'Pulses and nuts', 'Rainfall (mm)', 'Ramadan',
       'Vegetables and fruits', 'Wage', 'rCSI'],
      dtype='object', name='Indicator')
Ar-Raqqa
Index(['1 Month Anomaly (%) Rainfall', '3 Months Anomaly (%) Rainfall',
       'Cereals and tubers', 'Code', 'Exchange rate', 'FCS', 'Fatality',
       'Fuel', 'Lat', 'Lon', 'Meat, fish and eggs', 'Milk and dairy',
       'Miscellaneous food', 'NDVI', 'NDVI Anomaly', 'Oil and fats',
       'Population', 'Pulses and nuts', 'Rainfall (mm)', 'Ramadan',
       'Vegetables and fruits', 'Wage', 'rCSI'],
      dtype='object', name='Indicator')
As-Sweida
Index(['1 Month Anomaly (%) Rainfall', '3 Months Anomaly (%) Rainfall',
       'Cereals and tubers', 'Code', 'Exchange rate', 'FCS', 'Fatality',
       'Fuel', 'Lat', 'Lon', 'Meat, fish and eggs', 'Milk and dairy',
       'Miscellaneous food', 'NDVI', 'NDVI Anomaly', 'Oil and fats',
       'Population', 'Pulses and nuts', 'Rainfall (mm)', 'Ramadan',
       'Vegetables and fruits', 'Wage', 'rCSI'],
      dtype='object', name='Indicator')
Damascus
Index(['1 Month Anomaly (%) Rainfall', '3 Months Anomaly (%) Rainfall',
       'Cereals and tubers', 'Code', 'Exchange rate', 'FCS', 'Fatality',
       'Fuel', 'Lat', 'Lon', 'Meat, fish and eggs', 'Milk and dairy',
       'Miscellaneous food', 'NDVI', 'NDVI Anomaly', 'Oil and fats',
       'Population', 'Pulses and nuts', 'Rainfall (mm)', 'Ramadan',
       'Vegetables and fruits', 'Wage', 'rCSI'],
      dtype='object', name='Indicator')
Dar'a
Index(['1 Month Anomaly (%) Rainfall', '3 Months Anomaly (%) Rainfall',
       'Cereals and tubers', 'Code', 'Exchange rate', 'FCS', 'Fatality',
       'Fuel', 'Lat', 'Lon', 'Meat, fish and eggs', 'Milk and dairy',
       'Miscellaneous food', 'NDVI', 'NDVI Anomaly', 'Oil and fats',
       'Population', 'Pulses and nuts', 'Rainfall (mm)', 'Ramadan',
       'Vegetables and fruits', 'Wage', 'rCSI'],
      dtype='object', name='Indicator')
Deir-ez-Zor
Index(['1 Month Anomaly (%) Rainfall', '3 Months Anomaly (%) Rainfall', 'Code',
       'FCS', 'Fatality', 'Lat', 'Lon', 'NDVI', 'NDVI Anomaly', 'Population',
       'Rainfall (mm)', 'Ramadan', 'rCSI'],
      dtype='object', name='Indicator')
Hama
Index(['1 Month Anomaly (%) Rainfall', '3 Months Anomaly (%) Rainfall',
       'Cereals and tubers', 'Code', 'Exchange rate', 'FCS', 'Fatality',
       'Fuel', 'Lat', 'Lon', 'Meat, fish and eggs', 'Milk and dairy',
       'Miscellaneous food', 'NDVI', 'NDVI Anomaly', 'Oil and fats',
       'Population', 'Pulses and nuts', 'Rainfall (mm)', 'Ramadan',
       'Vegetables and fruits', 'Wage', 'rCSI'],
      dtype='object', name='Indicator')
Homs
Index(['1 Month Anomaly (%) Rainfall', '3 Months Anomaly (%) Rainfall',
       'Cereals and tubers', 'Code', 'Exchange rate', 'FCS', 'Fatality',
       'Fuel', 'Lat', 'Lon', 'Meat, fish and eggs', 'Milk and dairy',
       'Miscellaneous food', 'NDVI', 'NDVI Anomaly', 'Oil and fats',
       'Population', 'Pulses and nuts', 'Rainfall (mm)', 'Ramadan',
       'Vegetables and fruits', 'Wage', 'rCSI'],
      dtype='object', name='Indicator')
Idleb
Index(['Code', 'Fatality', 'Lat', 'Lon', 'Population'], dtype='object', name='Indicator')
Lattakia
Index(['1 Month Anomaly (%) Rainfall', '3 Months Anomaly (%) Rainfall',
       'Cereals and tubers', 'Code', 'Exchange rate', 'FCS', 'Fatality',
       'Fuel', 'Lat', 'Lon', 'Meat, fish and eggs', 'Milk and dairy',
       'Miscellaneous food', 'NDVI', 'NDVI Anomaly', 'Oil and fats',
       'Population', 'Pulses and nuts', 'Rainfall (mm)', 'Ramadan',
       'Vegetables and fruits', 'Wage', 'rCSI'],
      dtype='object', name='Indicator')
Quneitra
Index(['1 Month Anomaly (%) Rainfall', '3 Months Anomaly (%) Rainfall',
       'Cereals and tubers', 'Code', 'Exchange rate', 'Fatality', 'Fuel',
       'Lat', 'Lon', 'Meat, fish and eggs', 'Milk and dairy',
       'Miscellaneous food', 'NDVI', 'NDVI Anomaly', 'Oil and fats',
       'Population', 'Pulses and nuts', 'Rainfall (mm)', 'Ramadan',
       'Vegetables and fruits', 'Wage'],
      dtype='object', name='Indicator')
Rural Damascus
Index(['1 Month Anomaly (%) Rainfall', '3 Months Anomaly (%) Rainfall',
       'Cereals and tubers', 'Code', 'Exchange rate', 'FCS', 'Fatality',
       'Fuel', 'Lat', 'Lon', 'Meat, fish and eggs', 'Milk and dairy',
       'Miscellaneous food', 'NDVI', 'NDVI Anomaly', 'Oil and fats',
       'Population', 'Pulses and nuts', 'Rainfall (mm)', 'Ramadan',
       'Vegetables and fruits', 'Wage', 'rCSI'],
      dtype='object', name='Indicator')
Tartous
Index(['1 Month Anomaly (%) Rainfall', '3 Months Anomaly (%) Rainfall',
       'Cereals and tubers', 'Code', 'Exchange rate', 'FCS', 'Fatality',
       'Fuel', 'Lat', 'Lon', 'Meat, fish and eggs', 'Milk and dairy',
       'Miscellaneous food', 'NDVI', 'NDVI Anomaly', 'Oil and fats',
       'Population', 'Pulses and nuts', 'Rainfall (mm)', 'Ramadan',
       'Vegetables and fruits', 'Wage', 'rCSI'],
      dtype='object', name='Indicator')

In [30]:
df.drop(["Quneitra", "Idleb", "Deir-ez-Zor"], axis = 1, level = 0, inplace = True)

In [31]:
TsIP(df).interactive_plot_df(title = "Time-series", matplotlib = False, style = "mix", comparison = False, first_last_valid_index_group = True)

interactive(children=(ToggleButtons(description='AdminStrata', options=('Al-Hasakeh', 'Aleppo', 'Ar-Raqqa', 'Aâ€¦

In [32]:
# Save the datasets.
df.to_csv(PATH_TO_SAVE + "Syria.csv", index_label = False)